<header class="wrapp-header">
  <div id="main-bg-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner business">
      <div class="item active">
        <label class="search-bg__title top animated fadeInDown"> Give Your Business Learning Wings - CourseFrenzy has a
          360 degree spectrum of courses for all kinds and categories for your Organization</label>
        <a href="" class="btn-demo">Schedule a Demo</a>
        <img src="../../assets/img/for_business/1.jpg" alt="" />

      </div>

      <div class="item">
        <label class="search-bg__title top animated fadeInUp">Equip your Business Workforce with next generation
          Learning Skills by leveraging CourseFrenzy’s bleeding edge AI </label>
        <a href="" class="btn-demo">Schedule a Demo</a>
        <img src="../../assets/img/for_business/2.jpg" alt="" />
      </div>

      <div class="item">
        <label class="search-bg__title top animated fadeInDown">CourseFrenzy is a next generation Artificially
          Intelligent Marketplace to connect Instructors and your Business Workforce together for a Super-Fast
          Ultra-Cool Learning Experience</label>
        <a href="" class="btn-demo">Schedule a Demo</a>
        <img src="../../assets/img/for_business/3.jpg" alt="" />
      </div>

      <div class="item">
        <label class="search-bg__title top animated fadeInDown">From Price Comparison to Reviews Aggregation &
          Crunching and, a Custom CourseFrenzy Score of every Buyer, Seller and Course, CourseFrenzy elevates your
          Organization’s Learning Experience to a whole new level</label>
        <a href="" class="btn-demo">Schedule a Demo</a>
        <img src="../../assets/img/for_business/5.jpg" alt="" />
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#main-bg-slider" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-bg-slider" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
<section id="logos" class="bg-grey section-half">
  <div class="container-fluid text-center">
    <div class="row mb-2">
      <h2>Companies of all sizes choose CourseFrenzy for Business for top rated courses</h2>
    </div>
    <div class="row mb-2">
      <div class="logo-row">

        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/dhaar.png" width="180">
            </div>
          </div>
        </div>
        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/shopnroar.png">
            </div>
          </div>
        </div>
        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/FoneAI.png" width="180">
            </div>
          </div>
        </div>
        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/GenieCapture.png" width="180">
            </div>
          </div>
        </div>

        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/sell4bids.png" width="180">
            </div>
          </div>
        </div>
        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/InfluExpAI.png" width="180">
            </div>
          </div>
        </div>

        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/outbreakAI.png" width="180">
            </div>
          </div>
        </div>

        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/PlugEXP.png" width="180">
            </div>
          </div>
        </div>

        <div class="customer-logo">
          <div class="customer-logo-shell">
            <div class="customer-logo-shell-inner">
              <img height="122" src="../../assets/img/products-icons/RFP.png" width="180">
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="row">
      <p><a class="btn-checkout" href="#">Check out their stories
          <span class="glyphicon glyphicon-menu-right font-size-11" aria-hidden="true"></span></a></p>
    </div>
  </div>
</section>
<section class="features section-half">
  <div class="container">
    <div class="row text-center">
      <h2 class="mb-4">The most engaging corporate learning platform available</h2>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-4">
            <div class="feature-inner mb-4">
              <i class="material-icons">important_devices</i>
              <h4>Access business-relevant content instantly</h4>
              <p>Unlock 2,500+ high-quality courses on key topics</p>
              <span class="">
                <a href="#" class="btn-checkout">Learn more
                  <span class="glyphicon glyphicon-menu-right font-size-11" aria-hidden="true"></span></a>
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature-inner mb-4">
              <i class="material-icons">timeline</i>
              <h4>Measure <br>learning engagement</h4>
              <p>Get valuable insights to user behavior and learning patterns</p>
              <span class="">
                <a href="#" class="btn-checkout">Learn more
                  <span class="glyphicon glyphicon-menu-right font-size-11" aria-hidden="true"></span></a>
              </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="feature-inner mb-4">
              <i class="material-icons">format_shapes</i>
              <h4>Scale your <br>company's learning</h4>
              <p>Build your own training content in a customized learning account</p>
              <span class="">
                <a href="#" class="btn-checkout">Learn more
                  <span class="glyphicon glyphicon-menu-right font-size-11" aria-hidden="true"></span></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="course-cards" class="bg-grey section">
  <div class="container-fluid pd-left">
    <div class="section-max">
      <div class="row text-center">
        <h2 class="mb-4">High-quality courses on anything your employees need to learn</h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 ">
          <div class="" *ngFor="let category of Categories">
            <ul class="uft__sidebar">
              <li routerLinkActive="active">
                <a routerLink="/cat_courses/{{category.id}}">
                  <table>
                    <tr>
                      <td>
                        <i class={{category.icon}}></i>
                      </td>
                      <td>
                        {{category.name}}
                      </td>
                    </tr>
                  </table>
                </a>
              </li>
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262858">-->
              <!--<table><tr>-->
              <!--<td>-->
              <!--<i class="material-icons">people_outline</i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Project Management and Operations-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262860">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="fa fa-heartbeat"></i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Personal Development-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262862">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="fa fa-bar-chart"></i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Office Productivity-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262864">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="fa fa-exchange"></i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Marketing-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262866">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="fa fa-users"></i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Management-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262870">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="material-icons">group_work</i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Human Resources-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262872">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="material-icons">monetization_on</i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Finance and Accounting-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262874">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="fa fa-connectdevelop"></i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Development-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262876">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="fa fa-paint-brush"></i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Design-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li routerLinkActive="active">-->
              <!--<a href="#" rel="5262878">-->
              <!--<table>-->
              <!--<tr>-->
              <!--<td>-->
              <!--<i class="fa fa-shopping-basket"></i>-->
              <!--</td>-->
              <!--<td>-->
              <!--Sales-->
              <!--</td>-->
              <!--</tr>-->
              <!--</table>-->
              <!--</a>-->
              <!--</li>-->
            </ul>

            <!--<div class="uft__mobile-nav">-->

            <!--<h4>Select an option</h4>-->
            <!--<select>-->
            <!--<option rel="5262858" selected="" value="Project Management and Operations">Project Management and Operations</option>-->
            <!--<option rel="5262872" value="Data Science">Data Science</option>-->
            <!--<option rel="5262860" value="Personal Wellbeing">Personal Wellbeing</option>-->
            <!--<option rel="5262862" value="Office Productivity">Office Productivity</option>-->
            <!--<option rel="5262864" value="Marketing">Marketing</option>-->
            <!--<option rel="5262866" value="Management">Management</option>-->
            <!--<option rel="5262868" value="IT and Software">IT and Software</option>-->
            <!--<option rel="5262870" value="Human Resources">Human Resources</option>-->
            <!--<option rel="5262872" value="Finance and Accounting">Finance and Accounting</option>-->
            <!--<option rel="5262874" value="Development">Development</option>-->
            <!--<option rel="5262876" value="Design">Design</option>-->
            <!--<option rel="5262878" value="Sales">Sales</option>-->
            <!--</select>-->
            <!--</div>-->
          </div>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-6">
          <div class="">
            <div class="card-wrapper mb-4 loading">



              <div class="content-box-01 padding-bottom-50">
                <div class="container-fluid container-wide">
                  <div class="row">
                    <div class="col-lg-12">
                      <ul *ngIf="showCourses" class="product-list business-fix">
                        <li class="product-list__item" *ngFor="let data of topRatedCoursesviaCategories?.courses; let i=index;">
                          <a routerLink="/courses/single/{{data?.course?.id}}">
                            <figure class="product-list__img">
                              <a [routerLink]="['/signup']">
                                <figure class="imghvr-hinge-up product-list__img">
                                  <!--<img src="../../assets/img/product_list/product_img-01.jpg" alt="">-->
                                  <img *ngIf="data?.course?.course_image" src="{{ImageUrl}}{{data?.course?.course_image}}"
                                    alt="" class="img-responsive">
                                  <figcaption>
                                    <p>Includes:</p>
                                    <p><i class="fa fa-file-video-o"></i> &nbsp; 27.5 hours on-demand video</p>
                                    <p><i class="fa fa-book"></i> &nbsp; 7 Articles</p>
                                    <p><i class="fa fa-universal-access"></i> &nbsp; Full lifetime access</p>
                                    <!--<p class="fa fa-mobile-phone"> &nbsp; Access on mobile and TV</p>-->
                                    <p><i class="fa fa-bolt"></i> &nbsp;&nbsp; Assignments</p>
                                    <p><i class="fa fa-certificate"></i> &nbsp; Certificate of Completion</p>
                                  </figcaption>
                                </figure>
                              </a>
                            </figure>
                          </a>
                          <div class="product-list__content">
                            <a class="product-list__category" routerLink="/courses/single/{{data?.course?.id}}">{{
                              data?.course?.name.slice(0, 50) }} <a *ngIf="data?.course?.name.length>60"> ... </a>
                              <div *ngIf="data?.course?.name.length<40"> <br> </div>
                            </a>
                            <div class="row">
                              <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                                <ul class="product-list__star-list">
                                  <li>
                                    <a>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <div class=" col-md-3 col-sm-3 col-lg-3 col-xs-3 linethrough"> ${{
                                data?.course?.actual_price }} </div>

                              <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 hoverfont " *ngIf="data?.course?.discounted_price !=null">${{
                                data?.course?.discounted_price }}</div>
                            </div>
                            <div class="row">
                              <a routerLink="/user-profile/{{data?.course?.user_id?.id}}" *ngIf="data?.course?.user_id.first_name && data?.course?.user_id.last_name"
                                class="col-md-9 col-sm-9 col-lg-9 col-xs-9 product-list__category">{{
                                data?.course?.user_id.first_name }} {{ data?.course?.user_id.last_name }} </a>

                            </div>
                          </div>
                          <div class="product-list__item-info">
                            <!--if(data?.course?)-->

                            <a class="material-icons wishlist" title="Add to wishlist" (click)="onclick(i,data?.course?.id)">favorite_border</a>
                            <a class="wishlist material-icons" title="Add to Cart" (click)="openDialog2(i,data?.course?.id)">add_shopping_cart</a>
                            <a routerLink="/checkout" type="button" class="btn btn1">Buy Now</a>
                          </div>
                        </li>
                      </ul>
                      <span *ngIf="!showCourses">No Coure Found in this Category for Business Purpose.</span>
                    </div>
                  </div>
                </div>
              </div>





            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="how-it-works-wrapper">
  <div class="container">
    <div class="row">
      <h2>How it works for Students</h2>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/img/how-it-works/1-student-registration.png">
          <h3>1. Signup on CourseFrenzy</h3>
          <p>Signup on CourseFrenzy is super easy and takes less than a few minutes on Web or Mobile: Download our next
            generation Artificially Intelligent App on Google Play Store or Apple App Store.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/img/how-it-works/2-visit-cources.png">
          <h3>2. BrowseOnline Course Library</h3>
          <p>With Price Comparison to Reviews Aggregation/Crunching and a Custom CourseFrenzy Score of every Seller and
            Course, find the desired courses for you: The right ones!</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/img/how-it-works/3-bid-buy.png">
          <h3>3. BID, BUY or RENT</h3>
          <p>BID on Courses through a true Auction Experience OR simply RENT/BUY them. It’s that simple!</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/img/how-it-works/4-learn-online.png">
          <h3>4. Give your Learning Wings</h3>
          <p>Take your learning to a whole new level with CourseFrenzy’s Ultra-Cool, Super- Fast Web & Mobile App
            Experience. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <h2>How it works for Instructors</h2>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/img/how-it-works/5-instructor-registration.png">
          <h3>1. Signup on CourseFrenzy</h3>
          <p>Instructor Signup on CourseFrenzy is a breeze on Web or Mobile: Download our next generation Artificially
            Intelligent App on Google Play Store or Apple App Store.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/img/how-it-works/6-post-course.png">
          <h3>2. Post your Course(s)</h3>
          <p>Post your Online Course(s) on CourseFrenzyand showcase your expertise.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/img/how-it-works/7-public.png">
          <h3>3. Set Preferences: AUCTION, SELL or RENT</h3>
          <p>Set your Courses(s) to Auction Style Bidding, Straight Sale OR Rent: Maximize your Course Sales.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-it-works-box">
          <img src="../../assets/img/how-it-works/8-earn.png">
          <h3>4. Earn Money</h3>
          <p>CourseFrenzy gives your Course Sales Wings: Cash outon your area of expertise!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="features section-half bg-grey">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3">
        <div class="feature-inner mb-4">
          <h3>Smarter Insight<br> = <br>More Efficiency</h3>
          <img src="../../assets/img/Smarter-E-Learning.png" class="img-responsive width-135px">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature-inner mb-4">
          <h3>Better Analytics<br> = <br>Accurate Forecasts</h3>
          <img src="../../assets/img/performance.png" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature-inner mb-4">
          <h3>Happy Humans<br> = <br>Maximize Growth</h3>
          <img src="../../assets/img/efficiency.png" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature-inner mb-4">
          <h3>Intelligent Insights<br> = <br>Smarter Organization</h3>
          <img src="../../assets/img/insight.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-half" id="clients">
  <div class="container text-center">
    <h1 class="font-weight-600">
      Our Clients and Partners
    </h1>
    <h4 class="clients-detail">CourseFrenzy is the culmination of bleeding edge Machine Learning (ML) and a Proprietary
      Artificial intelligence (AI) that breaks down Human, Job, Customer and Product Reviews of all kinds and
      categories to give your organization deeper insight into Human Opinion!</h4>
    <div class="wow fadeInUpQuick clients-wrap animated clients-style" data-wow-delay=".9s">
      <div class="item">
        <div class="client-item-wrapper">
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/CourseFrenzy.png" width="180">
          </a>
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/dhaar.png" width="180">
          </a>
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/FoneAI.png" width="180">
          </a>
          <a href="#">
            <img src="../../assets/img/products-icons/CramFrenzy.png" width="180">
          </a>

        </div>
      </div>
      <div class="item">
        <div class="client-item-wrapper">
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/outbreakAI.png" width="180">
          </a>
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/InfluExpAI.png" width="180">
          </a>
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/GenieCapture.png" width="180">
          </a>
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/PlugEXP.png" width="180">
          </a>
        </div>
      </div>

      <div class="item">
        <div class="client-item-wrapper">
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/shopnroar.png" width="180">
          </a>
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/sell4bids.png" width="180">
          </a>
          <a href="#">
            <img height="122" src="../../assets/img/products-icons/RFP.png" width="180">
          </a>
          <a href="#">
            <img src="../../assets/img/products-icons/Gigsgenie.png" width="180">
          </a>
        </div>
      </div>

      <div class="item">
        <div class="client-item-wrapper">
          <a href="#">
            <img src="../../assets/img/products-icons/viralsalesai.png" width="180">
          </a>
          <a href="#">
            <img src="../../assets/img/products-icons/PlugEXP.png" width="180">
          </a>
          <a href="#">
            <img src="../../assets/img/products-icons/WattCRM.png" width="180">
          </a>

        </div>
      </div>

    </div>
  </div>
</section>
<section class="page-footer section bg bg-purple relative">
  <div class="page-footer-constellation lazyloaded"></div>
  <div class="container">
    <div class="row text-center relative">
      <h2 class="heading-AI mb-4">Impressed with our bleeding edge AI? </h2>
      <h4 class="hire-us">Hire us now to dive deeper into your organization's "Human Opinion"</h4>
    </div>
  </div>
</section>