<app-loader></app-loader>
<footer class="wrapp-footer">
  <div class="footer-box-01">
    <div class="container-fluid container-wide">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
          <div class="row">
            <div class="col-sm-6 col-xs-12 col-md-12">
              <a [routerLink]="['/']" class="footer-logo">
                <img src="../../assets/img/logo4.png" />
              </a>
              <p class="footer-txt">
                CourseFrenzy is a next generation Artificially Intelligent Auction Marketplace to connect Instructors
                and
                Students together for a Super-Fast Ultra-Cool worldwide learning experience. Courses can be Sold,
                Bought,
                Rented or Bid on through an auction experience.
              </p>
            </div>

            <div class="col-sm-6 col-xs-12 col-md-12 footer-sm-padding">
              <!--<h2 class="widget-title">Who are we?</h2>-->
              <ul class="widget-list footer-fixed frenzy-link">
                <li><a onclick="topFunction()" [routerLink]="['/what-is-coursefrenzy']">
                    <h2 class="widget-title"><i class="fa fa-chevron-right"></i> What is CourseFrenzy?</h2>
                  </a></li>
                <li><a onclick="topFunction()" [routerLink]="['/who-are-we']">
                    <h2 class="widget-title"><i class="fa fa-chevron-right"></i> Who Are We? </h2>
                  </a></li>
                <li><a onclick="topFunction()" [routerLink]="['/how-it-works']">
                    <h2 class="widget-title"><i class="fa fa-chevron-right"></i> How it Works </h2>
                  </a></li>
                <li><a onclick="topFunction()" [routerLink]="['/partnership']">
                    <h2 class="widget-title"><i class="fa fa-chevron-right"></i> Partnership </h2>
                  </a></li>
                <li><a onclick="topFunction()" [routerLink]="['/faqs']">
                    <h2 class="widget-title"><i class="fa fa-chevron-right"></i> FAQs </h2>
                  </a></li>
                <li><a onclick="topFunction()" [routerLink]="['/contact']">
                    <h2 class="widget-title"><i class="fa fa-chevron-right"></i> Establish Contact</h2>
                  </a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-7 col-lg-7 widget-link">
          <h2 class="widget-title cat-head">Categories</h2>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <ul class="widget-list">
                <li *ngFor="let cat of Categories; let i=index">
                  <ng-container>
                    <a routerLink='/cat_courses/{{cat.id}}'>{{ cat.name }}</a>
                  </ng-container>
                </li>
              </ul>
            </div>


            <div class="col-md-3 col-sm-3 col-xs-6">
              <ul class="widget-list">
                <ng-container *ngFor="let cat of Categories;  let i=index">
                  <ng-container *ngIf="i==2 || i==1">
                    <li *ngFor="let subcat of cat.category; let j=index">
                      <ng-container *ngIf="j<12">
                        <a routerLink='/courses/sub/{{subcat.id}}'>{{ subcat.name }}</a>
                      </ng-container>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mrgn-mob-fix">
              <!-- <h2 class="widget-title cat-head">SunbCategories</h2> -->
              <ul class="widget-list">
                <ng-container *ngFor="let cat of Categories;  let i=index">
                  <ng-container *ngIf="i==0">
                    <li *ngFor="let subcat of cat.category; let j=index">
                      <ng-container *ngIf="j<20">
                        <a routerLink='/courses/sub/{{subcat.id}}'>{{ subcat.name }}</a>
                      </ng-container>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <ul class="widget-list">
                <ng-container *ngFor="let cat of Categories;  let i=index">
                  <ng-container *ngIf="i==4">
                    <li *ngFor="let subcat of cat.category; let j=index">
                      <a routerLink='/courses/sub/{{subcat.id}}'>{{ subcat.name }}</a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2">
          <div class="widget-link">
            <h2 class="widget-title">Subscribe Now:</h2>
            <p class="color-white">Join our mailing list to receive the latest news on how CourseFrenzy leverages the
              disruptive power of AI to dive deeper into your customers' opinion.</p>
            <div class="input-group">

              <input class="form-control" name="email" placeholder="Enter your email" type="email" id="email" #email
                required>


              <!--type="text"  [(ngModel)]="model.subscribe" id="subscribe" #subscribe="ngModel" required>-->

              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" (click)="onSubmit(email.value)" type="button">Go</button>
              </span>
            </div>

            <a href="https://play.google.com/store/apps/details?id=com.brainplow.brainplow.coursefrenzy&hl=en" target="_blank">
              <img src="../../assets/img/footer/Adroid-Badge.png" class="apple-icon" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.brainplow.brainplow.coursefrenzy&hl=en" target="_blank">
              <img src="../../assets/img/footer/IOS-Badge.png" class="apple-icon" />
            </a>
          </div>
          <h2 class="widget-title"><i class="fa fa-chevron-right"></i> Stalk Us</h2>
          <ul class="list-social ftr">
            <li class="twitter">
              <a href="https://www.linkedin.com/company/brainplow/" target="_blank">
                <i class="fa fa-twitter"></i>
                <!--<span>Twitter</span>-->
              </a>
            </li>
            <li class="facebook">
              <a href="https://www.facebook.com/BrainPl0w/" target="_blank">
                <i class="fa fa-facebook"></i>
                <!--<span>Facebook</span>-->
              </a>
            </li>
            <li class="pinterest">
              <a href="https://www.linkedin.com/company/brainplow/" target="_blank">
                <i class="fa fa-pinterest-p"></i>
                <!--<span>Pinterest </span>-->
              </a>
            </li>
            <!--<li class="linked-in">-->
            <!--<a href="https://www.linkedin.com/company/brainplow/" target="_blank">-->
            <!--<i class="fa fa-linkedin"></i>-->
            <!--&lt;!&ndash;<span>LinkedIn</span>&ndash;&gt;-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="google">-->
            <!--<a href="https://www.linkedin.com/company/brainplow/" target="_blank">-->
            <!--<i class="fa fa-google-plus"></i>-->
            <!--&lt;!&ndash;<span> Google+ </span>&ndash;&gt;-->
            <!--</a>-->
            <!--</li>-->
          </ul>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 footer-box-02">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                <p class="copy-info">Copyright &copy; 2018, CourseFrenzy All Rights Reserved</p>
              </div>
              <div class="col-sm-1 col-md-1 col-lg-1 text-center">
              </div>
              <div class="col-sm-7 col-md-7 col-lg-7">
                <div class="footer-info">
                  <a class="footer-info__01" [routerLink]="['/terms']">Terms & Conditions</a>
                  <a class="footer-info__02" [routerLink]="['/privacy-policy']">Privacy Policy</a>
                  <a class="footer-info__02" [routerLink]="['/intellectual-property']">Intellectual Property</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<a class="back2top" title="Back to Top">Back to Top</a>-->
</footer>