.example-form {
  /*width: 100%;*/
  /*margin-bottom: 2cm;*/
  margin: 2cm auto 3cm;
  width:100%;
  padding: 48px 40px 36px;
  /*border: 1px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link, a:visited {
  background-color: #939393;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a:hover, a:active, a:focus {
  background-color: #000000 !important;
  cursor: pointer;
}


.font {
  font-size: 25px;
}

.avatar_center {
  text-align: center !important;
}
.avatar {
  width: 175px;
  height: 155px;
  border-radius: 50%;
}

.mat-size {
  font-size: larger;
  font-weight: 700;
}

.card {
  background-color: #f80000;
  color: white;
  text-align: center;
}

.card-4 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.example-full-width {
  width: 100%;
}

.button {
  background-color: #A9A9A9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  float: right;
}

