<app-header></app-header>
<div class="">
<div class="">
<div id="mySidenav" class="fltr-wrpr1 col-lg-2">
        <a href="javascript:void(0)" class="closebtn hide-btn" (click)="closeNav()">&times;</a>
            <nav>
                <header class="profile-sidebar text-center">
                <div class="avatar_center"> 
                    <img *ngIf="ProfileData && ProfileData.profilePhoto.length >0 " src="{{ImageUrl}}{{ProfileData.profilePhoto}}"
                        class="img-circle avatar image-responsive" alt="User Profile Photo">           
                </div>
                <h3 class="">{{uname}}</h3>
                </header>
                    <a routerLink="/profile/basic_info"
                        routerLinkActive="active">Profile
                    </a>
                    <a routerLink="/profile/account" routerLinkActive="active">Account
                    </a>
                    <a routerLink="/profile/payout" routerLinkActive="active">Payment Method
                    </a> 
                    <a routerLink="/profile/privacy" routerLinkActiv e="active">Privacy
                    </a>
            </nav>
      </div>
      
      
      
    <div class="col-lg-10 col-lg-offset-2 profile-body">
            <span class="hide-btn" (click)="openNav()">&#9776;</span>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
    </div>
</div>
</div>

<!-- <div mat-dialog-actions>
    <div class="container">
        <div class="example-form">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-ls-3 well">
                    <nav>
                        <div class="avatar_center"> 
                            <img *ngIf="ProfileData && ProfileData.profilePhoto.length >0 " src="{{ImageUrl}}{{ProfileData.profilePhoto}}"
                                class="img-circle avatar image-responsive" alt="User Profile Photo"> </div>
                        <h4 class="avatar_center">{{uname}}</h4> <br><a routerLink="/profile/basic_info"
                            routerLinkActive="active">Profile</a> <br><a routerLink="/profile/account" routerLinkActive="active">Account</a>
                        <br><a routerLink="/profile/payout" routerLinkActive="active">Payment Method</a> <br><a
                            routerLink="/profile/privacy" routerLinkActiv e="active">Privacy</a> <br>
                    </nav>
                </div>
                <div class="col-md-9 col-sm-9 col-ls-9 well">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div mat-dialog-actions> <br><br></div>
        </div>
    </div>
</div> -->
