<!--<button type="button"  class="close" aria-label="Close" (click)="onNoClick()" tabindex="-1">-->
  <!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--<h2 mat-dialog-title>{{description}}</h2>-->

<!--<mat-dialog-content [formGroup]="form">-->
  <!--<form novalidate id="reviewsForm" class="well">-->

    <!--<div class="col-lg-12" style="padding: 0;">-->
      <!--<h4>Rate this course </h4>-->
      <!--<fieldset class="ratingq">-->
        <!--<input type="radio" id="star5q" name="rating" value="5" (click)="getValueq(5)"/>-->
        <!--<label class="full" for="star5q" title="Awesome - 5 stars"></label>-->
        <!--<input type="radio" id="star4halfq" name="rating" value="4 and a half"-->
               <!--(click)="getValueq(4.5)"/><label class="half" for="star4halfq"-->
                                                <!--title="Pretty good - 4.5 stars"></label>-->
        <!--<input type="radio" id="starq" name="rating" value="4" (click)="getValueq(4)"/><label-->

        <!--class="full" for="starq" title="Pretty good - 4 stars"></label>-->
        <!--<input type="radio" id="star3halfq" name="rating" value="3 and a half"-->
               <!--(click)="getValueq(3.5)"/><label class="half" for="star3halfq"-->
                                                <!--title="Meh - 3.5 stars"></label>-->
        <!--<input type="radio" id="star3q" name="rating" value="3" (click)="getValueq(3)"/><label-->
        <!--class="full" for="star3q" title="Meh - 3 stars"></label>-->
        <!--<input type="radio" id="star2halfq" name="rating" value="2 and a half"-->
               <!--(click)="getValueq(2.5)"/><label class="half" for="star2halfq"-->
                                                <!--title="Kinda bad - 2.5 stars"></label>-->
        <!--<input type="radio" id="star2q" name="rating" value="2" (click)="getValueq(2)"/><label-->
        <!--class="full" for="star2q" title="Kinda bad - 2 stars"></label>-->
        <!--<input type="radio" id="star1halfq" name="rating" value="1 and a half"-->
               <!--(click)="getValueq(1.5)"/><label class="half" for="star1halfq"-->
                                                <!--title="Meh - 1.5 stars"></label>-->
        <!--<input type="radio" id="star1q" name="rating" value="1" (click)="getValueq(1)"/><label-->
        <!--class="full" for="star1q" title="Sucks big time - 1 star"></label>-->
        <!--<input type="radio" id="starhalfq" (click)="getValueq(0.5)" name="rating" value="half"/><label-->
        <!--class="half" for="starhalfq" title="Sucks big time - 0.5 stars"></label>-->
      <!--</fieldset>-->
    <!--</div>-->

    <!--<div class="form-area">-->
      <!--<div class="form-element">-->
        <!--<div class="formrow">-->
          <!--<h4>Review <em>*</em></h4>-->
          <!--<textarea class="form-control" name="YourReview" required></textarea>-->
          <!--&lt;!&ndash;<div class="help-block">Review is required</div>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--<br>-->
      <!--<div class="buttons-set pull-right">-->
        <!--<button class="button submit btn btn-warning btn-circle text-uppercase commentsize" title="Submit Review" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;Review</span></button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->

<!--</mat-dialog-content>-->

<!--<mat-dialog-actions>-->
  <!--<button class="mat-raised-button"(click)="close()">Close</button>-->
  <!--<button class="mat-raised-button mat-primary"(click)="save()">Save</button>-->
<!--</mat-dialog-actions>-->

<!--<mat-card>-->
  <!--<mat-card-content>-->
    <!--<h2 class="example-h2">Tabs with icon labels</h2>-->
    <!--<mat-tab-group class="demo-tab-group">-->
      <!--<mat-tab label="Tab 1">-->
        <!--<ng-template mat-tab-label>-->
          <!--<mat-icon>security</mat-icon>-->
        <!--</ng-template>-->
        <!--<div class="demo-tab-content">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
          <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
          <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
          <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
          <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
        <!--</div>-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 2">-->
        <!--<ng-template mat-tab-label>-->
          <!--<mat-icon>attach_file</mat-icon>-->
        <!--</ng-template>-->
        <!--<div class="demo-tab-content">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
          <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
          <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
          <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
          <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
        <!--</div>-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 3" disabled>-->
        <!--<ng-template mat-tab-label>-->
          <!--<mat-icon>block</mat-icon>-->
        <!--</ng-template>-->
        <!--No content-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 4">-->
        <!--<ng-template mat-tab-label>-->
          <!--<mat-icon>loop</mat-icon>-->
        <!--</ng-template>-->
        <!--<div class="demo-tab-content">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
          <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
          <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
          <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
          <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
          <!--<br />-->
          <!--<br />-->
          <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.-->
          <!--Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.-->
          <!--In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,-->
          <!--feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,-->
          <!--orci enim rutrum enim, vel tempor sapien arcu a tellus.-->
        <!--</div>-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 5">-->
        <!--<ng-template mat-tab-label>-->
          <!--<mat-icon>build</mat-icon>-->
        <!--</ng-template>-->
        <!--No content-->
      <!--</mat-tab>-->
      <!--<mat-tab label="Tab 6">-->
        <!--<ng-template mat-tab-label>-->
          <!--<mat-icon>thumb_down</mat-icon>-->
        <!--</ng-template>-->
        <!--No content-->
      <!--</mat-tab>-->
    <!--</mat-tab-group>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->


<!--<app-loader></app-loader>-->
<!--<div class="card">-->
  <!--<button type="button" class="close" aria-label="Close" (click)="onNoClick()" tabindex="-1">-->
    <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
  <!--<form (ngSubmit)="!review.hasError('required') && !review.hasError('pattern') && onSubmit(f)" #f="ngForm" method="post">-->
    <!--<div class="card-header text-center" data-background-color="rose">-->
      <!--<h4 class="card-title"> Leave a Review </h4>-->
    <!--</div>-->
    <!--<div class="card-content">-->
      <!--<mat-form-field class="example-full-width mat-size">-->
        <!--<input type="text" matInput placeholder=" Enter Description" [formControl]="review" name="review" [(ngModel)]="model.review" required>-->
        <!--<mat-error *ngIf="review.hasError('required')">-->
          <!--Review Description is <strong>required</strong>-->
        <!--</mat-error>-->
        <!--<mat-error *ngIf="review.hasError('pattern')">-->
          <!--Please enter a valid review.-->
        <!--</mat-error>-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <!--<fieldset class="ratingq">-->
    <!--<input type="radio" id="star5q" name="rating" value="5" (click)="getValueq(5)"/>-->
    <!--<label class="full" for="star5q" title="Awesome - 5 stars"></label>-->
    <!--<input type="radio" id="star4halfq" name="rating" value="4 and a half"-->
    <!--(click)="getValueq(4.5)"/><label class="half" for="star4halfq"-->
    <!--title="Pretty good - 4.5 stars"></label>-->
    <!--<input type="radio" id="starq" name="rating" value="4" (click)="getValueq(4)"/><label-->

    <!--class="full" for="starq" title="Pretty good - 4 stars"></label>-->
    <!--<input type="radio" id="star3halfq" name="rating" value="3 and a half"-->
    <!--(click)="getValueq(3.5)"/><label class="half" for="star3halfq"-->
    <!--title="Meh - 3.5 stars"></label>-->
    <!--<input type="radio" id="star3q" name="rating" value="3" (click)="getValueq(3)"/><label-->
    <!--class="full" for="star3q" title="Meh - 3 stars"></label>-->
    <!--<input type="radio" id="star2halfq" name="rating" value="2 and a half"-->
    <!--(click)="getValueq(2.5)"/><label class="half" for="star2halfq"-->
    <!--title="Kinda bad - 2.5 stars"></label>-->
    <!--<input type="radio" id="star2q" name="rating" value="2" (click)="getValueq(2)"/><label-->
    <!--class="full" for="star2q" title="Kinda bad - 2 stars"></label>-->
    <!--<input type="radio" id="star1halfq" name="rating" value="1 and a half"-->
    <!--(click)="getValueq(1.5)"/><label class="half" for="star1halfq"-->
    <!--title="Meh - 1.5 stars"></label>-->
    <!--<input type="radio" id="star1q" name="rating" value="1" (click)="getValueq(1)"/><label-->
    <!--class="full" for="star1q" title="Sucks big time - 1 star"></label>-->
    <!--<input type="radio" id="starhalfq" (click)="getValueq(0.5)" name="rating" value="half"/><label-->
    <!--class="half" for="starhalfq" title="Sucks big time - 0.5 stars"></label>-->
    <!--</fieldset>-->

    <!--<div class="footer text-right col-sm-12">-->
      <!--<button class="button btn-primary custom" type="submit" id="submit" tabindex="2">Add</button>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
<app-loader></app-loader>
<div class="width-full">
  <div class="border-radius">
    <mat-horizontal-stepper [linear]="isLinear">

      <mat-step [stepControl]="firstFormGroup">
        <div class="row">
          <div class="col-lg-12" [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Review</ng-template>
            <h2>Based on what you've seen so far, how would you rate this course?</h2>
            <fieldset class="ratingq move-to-center">
              <input type="radio" id="star5q" name="rating" value="5" (click)="getValueq(5)"/>
              <label class="full" for="star5q" title="Awesome - 5 stars"></label>
              <input type="radio" id="star4halfq" name="rating" value="4 and a half"
                     (click)="getValueq(4.5)"/><label class="half" for="star4halfq"
                                                      title="Pretty good - 4.5 stars"></label>
              <input type="radio" id="starq" name="rating" value="4" (click)="getValueq(4)"/><label

              class="full" for="starq" title="Pretty good - 4 stars"></label>
              <input type="radio" id="star3halfq" name="rating" value="3 and a half"
                     (click)="getValueq(3.5)"/><label class="half" for="star3halfq"
                                                      title="Meh - 3.5 stars"></label>
              <input type="radio" id="star3q" name="rating" value="3" (click)="getValueq(3)"/><label
              class="full" for="star3q" title="Meh - 3 stars"></label>
              <input type="radio" id="star2halfq" name="rating" value="2 and a half"
                     (click)="getValueq(2.5)"/><label class="half" for="star2halfq"
                                                      title="Kinda bad - 2.5 stars"></label>
              <input type="radio" id="star2q" name="rating" value="2" (click)="getValueq(2)"/><label
              class="full" for="star2q" title="Kinda bad - 2 stars"></label>
              <input type="radio" id="star1halfq" name="rating" value="1 and a half"
                     (click)="getValueq(1.5)"/><label class="half" for="star1halfq"
                                                      title="Meh - 1.5 stars"></label>
              <input type="radio" id="star1q" name="rating" value="1" (click)="getValueq(1)"/><label
              class="full" for="star1q" title="Sucks big time - 1 star"></label>
              <input type="radio" id="starhalfq" (click)="getValueq(0.5)" name="rating" value="half"/><label
              class="half" for="starhalfq" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
            <h3 class="margin-top-115 text-center">Why Did You Leaving This Review?</h3>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Share your Opinion about the quality of this course."></textarea>
            </mat-form-field>
            <h4 class="text-center gray">Your review will be publicly visible within 24 hours.</h4>
            <div>
              <button class="float-right btn-red" type="button" mat-raised-button color="primary" matStepperNext>Tell us more</button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <div class="row">
          <div class="col-md-12" [formGroup]="secondFormGroup">
            <ng-template matStepLabel> Videos </ng-template>
            <h3 class="text-center">Please Tell us more (optional).</h3>
            <ul class="list-review">
              <li>
                <span>Are you learning valuable information? <i class="fa fa-question-circle-o"></i></span>
                <a class="btn btn-choice btn-green" tabindex="1"><i class="fa fa-check"></i> Yes</a>
                <a class="btn btn-choice" tabindex="1"><i class="fa fa-times"></i> No</a>
                <a class="btn btn-choice btn-black" tabindex="1"> Not Sure</a>
              </li>
              <li>
                <span>Are the explanations of concepts clear? <i class="fa fa-question-circle-o"></i></span>
                <a class="btn btn-choice btn-green" tabindex="1"><i class="fa fa-check"></i> Yes</a>
                <a class="btn btn-choice" tabindex="1"><i class="fa fa-times"></i> No</a>
                <a class="btn btn-choice btn-black" tabindex="1"> Not Sure</a>
              </li>
              <li>
                <span>Is this instructor's delivery engaging? <i class="fa fa-question-circle-o"></i></span>
                <a class="btn btn-choice btn-green" tabindex="1"><i class="fa fa-check"></i> Yes</a>
                <a class="btn btn-choice" tabindex="1"><i class="fa fa-times"></i> No</a>
                <a class="btn btn-choice btn-black" tabindex="1"> Not Sure</a>
              </li>
              <li>
                <span>Are there enough opportunities to apply what you are learning? <i class="fa fa-question-circle-o"></i></span>
                <a class="btn btn-choice btn-green" tabindex="1"><i class="fa fa-check"></i> Yes</a>
                <a class="btn btn-choice" tabindex="1"><i class="fa fa-times"></i> No</a>
                <a class="btn btn-choice btn-black" tabindex="1"> Not Sure</a>
              </li>
              <li>
                <span>Is the course delivering on your expectations? <i class="fa fa-question-circle-o"></i></span>
                <a class="btn btn-choice btn-green" tabindex="1"><i class="fa fa-check"></i> Yes</a>
                <a class="btn btn-choice" tabindex="1"><i class="fa fa-times"></i> No</a>
                <a class="btn btn-choice btn-black" tabindex="1"> Not Sure</a>
              </li>
              <li>
                <span>Is this instructor knowledgeable about the topic? <i class="fa fa-question-circle-o"></i></span>
                <a class="btn btn-choice btn-green" tabindex="1"><i class="fa fa-check"></i> Yes</a>
                <a class="btn btn-choice" tabindex="1"><i class="fa fa-times"></i> No</a>
                <a class="btn btn-choice btn-black" tabindex="1"> Not Sure</a>
              </li>

            </ul>
            <button type="button" mat-raised-button matStepperPrevious> Back </button>
            <button class="float-right btn-red" type="button" mat-raised-button color="primary" matStepperNext>Save & Continue</button>
            <!--<div>-->
            <!--<button type="button" mat-raised-button color="warn" matStepperPrevious>Back</button>-->
            <!--<button type="button" mat-raised-button color="primary" matStepperNext>Next</button>-->
            <!--</div>-->
          </div>
        </div>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <div class="row">
          <div class="col-md-12" [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Teaching</ng-template>
            <h3 class="text-center">Thanks for helping our community!</h3>
            <h4 class="text-center gray">Your review will be public within 24 hours.</h4>
            <div class="review-box">
              <div class="col-md-4">
                <img class="user-img" src="../../../assets/img/team/team_01.jpg">
                <h3> <span class="gray">a few seconds ago</span> <br> Your Name</h3>
              </div>
              <div class="col-md-8">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h4 class="gray">Your Review Goes Here. Your Review Goes Here.</h4>
              </div>
            </div>
            <button type="button" mat-raised-button matStepperPrevious name="teach1" value="No"> Back </button>
            <button class="float-right btn-red" type="button" mat-raised-button color="primary" matStepperNext>Save & Continue</button>

            <!--<div>-->
            <!--<button type="button" mat-raised-button color="warn" matStepperPrevious>Back</button>-->
            <!--<button type="button" mat-raised-button color="primary" matStepperNext>Next</button>-->
            <!--</div>-->
          </div>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </div>
</div>
