.btn-01 {
  font-size: 20px;
  line-height: 16px;
  /* color: #fff; */
  text-transform: uppercase;
  /* background-color: #a0ce4e; */
  padding: 16px 37px;
  /* -webkit-border-radius: 25px; */
  border-radius: 25px;
  /* -webkit-transition: 0.5s all; */
  /* transition: 0.5s all; */
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #ff0000;
  font-weight: 700;
}
.events-list__content-title {
  font-size: 25px;
  line-height: 20px;
  /* color: #303638; */
  /* margin-top: 17px; */
  /* margin-bottom: 18px; */
  /* padding-right: 75px; */
  font-weight: 700;
}


a:hover {
  cursor: pointer;
}
.events-list__status {
  font-size: 15px;
  line-height: 14px;
  border: 2px solid #fe3f4c;
  color: #fe3f4c;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 17px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  position: absolute;
  top: 16px;
  right: 0;
  font-weight: 700;
}

.events-list__info-date {
  font-size: 72px;
  line-height: 69px;
  font-weight: 400;
  color: #ff0000;
}

.events-list__btn {
  font-size: 14px;
  line-height: 16px;
  color: #ff0000;
  position: relative;
  padding-right: 16px;
}

.events-list__btn::after {
  font-family: 'FontAwesome';
  content: '\f105';
  font-size: 16px;
  line-height: 16px;
  color: #ff0000;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 1px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  right: 0;
}

.events-list__info-time::before {
  font-family: 'FontAwesome';
  content: '\f017';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  font-style: normal;
  top: 0;
  left: 13px;
  color: #ff0000;
}

.events-list__info-location::before {
  font-family: 'FontAwesome';
  content: '\f041';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  font-style: normal;
  top: 0;
  left: 13px;
  color: #ff0000;
}
.pagination-list li.active a {
  background-color: #ff0000;
  color: #f8f8f8;
}
.events-list__content-title a:hover {
  color: #f80000;
}
.add-event-button {
  font-size: 20px;
  font-weight: 700;
}
