 <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span> Chat Now
          <div class="btn-group pull-right">
            <!--<button type="button" class="close" aria-label="Close" (click)="onNoClick()" tabindex="-1">-->
              <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">-->
              <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu slidedown">-->
              <!--<li><a ><span class="glyphicon glyphicon-refresh">-->
                            <!--</span>Refresh</a></li>-->
              <!--<li><a ><span class="glyphicon glyphicon-ok-sign">-->
                            <!--</span>Available</a></li>-->
              <!--<li><a ><span class="glyphicon glyphicon-remove">-->
                            <!--</span>Busy</a></li>-->
              <!--<li><a ><span class="glyphicon glyphicon-time"></span>-->
                <!--Away</a></li>-->
              <!--<li class="divider"></li>-->
            <!--</ul>-->
          </div>
        </div>
        <div class="panel-body body-panel">
          <ul class="chat">
            <!--<li class="left clearfix">-->
              <!--<span class="glyphicon glyphicon-time time">-->
                <!--<small class="pull-right text-muted">12 mins ago</small>-->
              <!--</span>-->
              <!--<span class="chat-img pull-left">-->
                <!--<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />-->
              <!--</span>-->
              <!--<div class="chat-body clearfix">-->
                <!--<div class="">-->
                  <!--<strong class="primary-font">Jack Sparrow</strong>-->
                <!--</div>-->
                <!--<p>-->
                  <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare-->
                  <!--dolor, quis ullamcorper ligula sodales.-->
                <!--</p>-->
              <!--</div>-->
            <!--</li>-->
            <!--<li class="right clearfix">-->
              <!--<span class="chat-img pull-right">-->
                <!--<img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />-->
              <!--</span>-->
              <!--<div class="chat-body clearfix">-->
                <!--<div class="">-->
                  <!--<span class="glyphicon glyphicon-time time"><small class=" text-muted">13 mins ago</small></span>-->
                <!--</div>-->
                <!--<p>-->
                  <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare-->
                  <!--dolor, quis ullamcorper ligula sodales.-->
                <!--</p>-->
              <!--</div>-->
            <!--</li>-->
            <li class="left clearfix user-chat-list-wrapper" *ngFor="let msg of messsage1" onclick="showChatbox()">
              <span class="glyphicon glyphicon-time time">
                <small class="pull-right text-muted">12 mins ago</small>
              </span>
              <span class="chat-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
              </span>
              <div class="chat-body clearfix">
                <div class="chat-person">
                  Faisal Ehsan
                  <!--<span class="primary-font"> {{msg.username}}</span>-->
                </div>
                <p>
                  {{msg.text}}
                </p>
              </div>
            </li>
            <!--<li class="right clearfix" *ngFor="let msg of messsage1">-->
              <!--<span class="chat-img pull-right">-->
                <!--<img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />-->
              <!--</span>-->
              <!--<div class="chat-body clearfix">-->
                <!--<div class="">-->
                  <!--<span class="glyphicon glyphicon-time time"><small class=" text-muted">13 mins ago</small></span>-->
                <!--</div>-->
                <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                  <!--&lt;!&ndash;<li *ngFor="let msg of messsage1">&ndash;&gt;-->
                    <!--&lt;!&ndash;{{msg.text}}&ndash;&gt;-->
                  <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                  <!--&lt;!&ndash;{{model.messagez}}&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->
              <!--</div>-->
            <!--</li>-->
          </ul>
        </div>

 </div>

 <div class="panel panel-primary" id="user-chat-box display-no">
   <div class="user-chat-box-wrapper">
    <div class="chat-body clearfix user-chat-box-header">
      <button type="button" class="close pull-right" aria-label="Close" onclick="closeBox()">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="chat-img pull-left">
      <img src="../../assets/img/for_business/icon/for_business_img_01.png" class="img-circle" alt="image">
    </span>
    <div class="chat-person">
      Faisal Ehsan
    <!--<span class="primary-font"> {{msg.username}}</span>-->
    </div>
   </div>
   <div class="panel-heading">
     <!--<span class="glyphicon glyphicon-comment"></span> Chat Now-->

     <div class="user-chat-box" >
       <div class="panel-footer text-area-wrapper clearfix">
         <form (ngSubmit)="click(f)"  (keydown.enter)="click(f)" #f="ngForm" class="position-r">
           <textarea class="form-control" rows="2" name="messagez2" [(ngModel)]="model.messagez" required>
           </textarea>
           <span class="glyphicon glyphicon-upload"></span>
           <!--<span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 margin-top>-->
                  <!--<button type="submit" class="btn btn-warning btn-lg btn-block" id="btn-chat">Send</button>-->
                <!--</span>-->
         </form>
       </div>
     </div>
   </div>
 </div>


