.news-info__btn {
  color: #ff0000;
  position: relative;
  padding-right: 10px;
}
.news-info__date-block p {
  font-size: 48px;
  line-height: 46px;
  color: #ff0000;
  margin: 0 0 4px;
  font-weight: 400;
}
.news-item__btn {
  color: #ff0000;
  font-weight: 700;
}

.btn-01 {
  font-size: 25px;
  line-height: 16px;
  /* color: #fff; */
  text-transform: uppercase;
  /* background-color: #a0ce4e; */
  padding: 16px 37px;
  /* -webkit-border-radius: 25px; */
  border-radius: 25px;
  /* -webkit-transition: 0.5s all; */
  /* transition: 0.5s all; */
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #ff0000 !important;
  font-weight: 600;
}
