.sort-item {
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  color: #f5f5f5;
  margin: 5px 10px;
  padding: 9px;
  border-radius: 15px;
  border: 2px solid #f80000;
  background: #f80000;
}
.linethrough {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 12px;
}
.gradienttext{
  background-color: #f80000;
}
.product-list__img {
  width: 100%;
  -webkit-border-radius: 10px 10px 0 0 !important;
  border-radius: 10px 10px 0 0 !important;
  display: block;
}
.product-list__img .img-responsive {
  height: auto;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: 100%;
}
a:hover {
  cursor: pointer;
}
.wishlist {
  color: red;
  margin-left: 10px;
  margin-top: 10px;
}
.bgfont {
  font-weight: 700;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.right {
  float: right;
}
/*.btn1 {*/
/*background-color: black;*/
/*color: white;*/
/*float: right;*/
/*clear: right;*/
/*margin-right: 10px;*/
/*margin-top: 10px;*/
/*width: 110px;*/
/*}*/
.hoverfont {
  font-weight: 700;
  font-size: 14px;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
.hoverfont2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/*.btn1:hover {*/
/*background-color: #E0E0E0;*/
/*color: #f80000;*/
/*float: right;*/
/*margin-right: 10px;*/
/*margin-top: 10px;*/
/*}*/
.sort-item:hover{
  color: #f80000;
  border: 2px solid #f80000;
  background: white;
}

.pagination-list li.active a {
  background-color: #f80000;
  color: #f8f8f8;
}
.pagination-list li a:hover {
  background-color: #f80000;
  color: #f8f8f8;
}
.mat-size {
  font-size: larger;
  font-weight: 700;
}

