<app-loader></app-loader>

<div class="wrapp-content slider">

  <main class="content-row">

    <div class="content-box padding-top-20 padding-bottom-10">
      <div class="container-fluid container-wide">

        <!--Filters-->
        <div class="courseSlider course-sl">

          <div class="homeSlider">
            <div class="item" *ngFor="let category of Categories">
              <div class="image">
                <a routerLink='/cat_courses/{{category.id}}'>
                  <img class="img" src="{{catImageUrl}}{{category?.icon_Web_Home}}" onError="this.src='../../assets/img/default_thumbnail.png'">
                </a>
              </div>
              <div class="slide-overlay">
                <h4 class="card-title">
                  <a routerLink='/cat_courses/{{category.id}}' tabindex="0">{{ category?.name }}</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-holder">
          <header>
            <!--<span class="pull-left txt">About 145 results</span>-->
            <span class="pull-right btn-filter" data-toggle="collapse" data-target="#filters">
              <i class="fa fa-filter" aria-hidden="true"></i>
              <a routerLink="/FilterSearch">  <span>Filter Courses</span></a>
            </span>
            <!--<span class="pull-right btn-filter">-->
              <!--<i class="fa fa-ban"></i>-->
              <!--<span>Reset Filters</span>-->
            <!--</span>-->
          </header>
          <!--<div class="container">-->
            <!--<div id="filters" class="collapse">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->

                <!--<mat-form-field class="example-full-width mat-size">-->
                  <!--<input matInput placeholder="Search Course Name" [(ngModel)]="model.coursename"-->
                         <!--(focusout)="selected4(model.coursename)">-->
                <!--</mat-form-field>-->
              <!--</div>-->
              <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                <!--<mat-form-field class="example-full-width mat-size">-->

                  <!--&lt;!&ndash;<mat-select placeholder="Price Range" [(ngModel)]="model.selectedValue" name="range"  >&ndash;&gt;-->
                    <!--&lt;!&ndash;<mat-option *ngFor="let range of ranges" [value]="range.value" (click)="selected2(range)" >&ndash;&gt;-->
                      <!--&lt;!&ndash;{{ range.viewValue }}&ndash;&gt;-->
                    <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
                  <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
                  <!--<input matInput placeholder="$ Starting Price" [(ngModel)]="model.startprice" (focusout)="selectrange1(model.startprice)"/>-->
                <!--</mat-form-field>-->

                <!--&lt;!&ndash;<p> Selected value: {{selectedValue}} </p>&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
              <!--<mat-form-field class="example-full-width mat-size">-->

                <!--&lt;!&ndash;<mat-select placeholder="Price Range" [(ngModel)]="model.selectedValue" name="range"  >&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-option *ngFor="let range of ranges" [value]="range.value" (click)="selected2(range)" >&ndash;&gt;-->
                <!--&lt;!&ndash;{{ range.viewValue }}&ndash;&gt;-->
                <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
                <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
               <!--<input matInput placeholder="$ Ending Price" [(ngModel)]="model.endprice"-->
                                                               <!--(focusout)="selectrange2(model.endprice)">-->
              <!--</mat-form-field>-->
              <!--</div>-->
              <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                <!--&lt;!&ndash;<label>Select Category:</label>&ndash;&gt;-->
                <!--<mat-form-field class="example-full-width mat-size">-->
                  <!--<mat-select placeholder="Select Category" [(ngModel)]="model.category" name="category"-->
                              <!--#category="ngModel">-->
                    <!--<mat-option *ngFor="let cat of Categories" [value]="cat.id" (click)="selected(cat.id)">-->
                      <!--{{ cat.name }}-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
              <!--</div>-->
              <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                <!--<mat-form-field class="example-full-width mat-size">-->
                  <!--<mat-select placeholder="Sub Category" [(ngModel)]="model.sub_category" name="sub_category"-->
                              <!--#sub_category="ngModel">-->
                    <!--<mat-option *ngFor=" let caty of SubCategories" value="{{ caty.id }}"-->
                                <!--(click)="selectedSub(caty.id)">-->
                      <!--{{ caty.name }}-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->

              <!--</div>-->
              <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                <!--<a routerLink="/FilterSearch"> <button class="search-bg2__btn btn-01" type="button">Search</button></a>-->
              <!--</div>-->
              <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-form-field class="example-full-width mat-size">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="text" placeholder="Search Instructor" name="teacher" aria-label="Number" matInput&ndash;&gt;-->
                         <!--&lt;!&ndash;[formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="teacher" (change)="getingInstructors()">&ndash;&gt;-->
                  <!--&lt;!&ndash;<mat-autocomplete #auto="matAutocomplete">&ndash;&gt;-->
                    <!--&lt;!&ndash;<mat-option *ngFor="let option of instructorId" [value]="option" (click)="getingInstructors(instructorId)">&ndash;&gt;-->
                      <!--&lt;!&ndash;{{ option }}&ndash;&gt;-->
                    <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
                  <!--&lt;!&ndash;</mat-autocomplete>&ndash;&gt;-->
                <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
                <!--&lt;!&ndash;<button class="search-bg2__btn" type="button" (click)=" SearchingFilter()">Search</button>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-form-field class="example-full-width mat-size">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input matInput [min]="minDate" [max]="maxDate" (focus)="picker.open()" [matDatepicker]="picker"&ndash;&gt;-->
                         <!--&lt;!&ndash;placeholder="Posted Date" [formControl]="dateFormControl" [(ngModel)]="dateVal"&ndash;&gt;-->
                         <!--&lt;!&ndash;(click)="picker.open();" (change)="selected3(dateVal)" required>&ndash;&gt;-->
                  <!--&lt;!&ndash;<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>&ndash;&gt;-->
                  <!--&lt;!&ndash;<mat-datepicker #picker></mat-datepicker>&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<mat-error *ngIf="dateFormControl.hasError('required')">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;Date is <strong>required</strong>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</mat-error>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>


        <!--Start Category Courses-->

        <div *ngIf="loaded3">
          <ul class="product-list">
            <li class="product-list__item" *ngFor="let data of Cat_Courses?.courses; let i=index;">
              <a routerLink="/courses/single/{{data?.course?.id}}">
                <figure class="imghvr-hinge-up product-list__img">
                  <img *ngIf="data?.course?.course_image" src="{{StaticImageUrl}}{{data?.course?.course_image}}" alt=""
                       class="img-responsive">
                  <figcaption>
                    <p>Includes:</p>
                    <p><i class="fa fa-file-video-o"></i>  27.5 hours on-demand video</p>
                    <p><i class="fa fa-book"></i>  7 Articles</p>
                    <p><i class="fa fa-universal-access"></i>  Full lifetime access</p>
                    <!--<p class="fa fa-mobile-phone">  Access on mobile and TV</p>-->
                    <p><i class="fa fa-bolt"></i>  Assignments</p>
                    <p><i class="fa fa-certificate"></i>  Certificate of Completion</p>
                  </figcaption>
                </figure>
              </a>

              <div class="product-list__content">
                <a class="product-list__category" routerLink="/courses/single/{{data?.course?.id}}">{{ data?.course?.name.slice(0, 50) }}
                  <!--<a *ngIf="data?.name.length>50"> ... </a>-->
                  <!--<div *ngIf="data?.name.length<40"><br></div>-->
                </a>
                <div class="row">
                  <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                    <ul class="product-list__star-list">
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class=" col-md-3 col-sm-3 col-lg-3 col-xs-3 linethrough"> ${{ data?.course?.actual_price }}</div>
                </div>
                <div class="row">
                  <a routerLink="/user-profile/{{data?.user_id?.id}}"
                     *ngIf="data?.course?.user_id.first_name && data?.course?.user_id.last_name"
                     class="col-md-9 col-sm-9 col-lg-9 col-xs-9 product-list__category">{{ data?.course?.user_id.first_name }} {{
                    data?.course?.user_id.last_name }} </a>

                  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 hoverfont ">${{ data?.course?.discounted_price }}
                  </div>
                </div>
              </div>
              <div class="product-list__item-info">

                <a class="material-icons wishlist" title="Add to wishlist"
                   (click)="onclick(i, data?.course?.id)">favorite_border</a>
                <a class="wishlist material-icons" title="Add to Cart" (click)="openDialog2(i, data?.course?.id)">add_shopping_cart</a>
                <a routerLink="/checkout" type="button" class="btn btn1 product-list__content">Buy Now</a>
              </div>
              <!--<div class="product-list__item-info">-->
              <!--<p class="item-info__text-01">14 Lessons</p>-->
              <!--<p class="item-info__text-02">25 Seats</p>-->
              <!--</div>-->
            </li>
          </ul>
          <!--<div class="row" *ngIf="!endofCatList">-->
            <!--<div class="col-lg-12 text-center">-->
              <!--<a (click)="loadMoreCatCourses()" class="btn-01">See more</a>-->
            <!--</div>-->
          <!--</div>-->
        </div>

        <!--End of Category Courses-->


        <!--Start Sub Category Courses-->

        <div *ngIf="loaded5">
          <ul class="product-list">
            <li class="product-list__item" *ngFor="let data of SubCat_Courses?.courses; let i=index;">
              <a routerLink="/courses/single/{{data?.course?.id}}">
                <figure class="imghvr-hinge-up product-list__img">
                  <img *ngIf="data?.course?.course_image" src="{{StaticImageUrl}}{{data?.course?.course_image}}" alt=""
                       class="img-responsive" onError="this.src='../../assets/img/default_thumbnail.png'">
                  <figcaption>
                    <p>Includes:</p>
                    <p><i class="fa fa-file-video-o"></i>  27.5 hours on-demand video</p>
                    <p><i class="fa fa-book"></i>  7 Articles</p>
                    <p><i class="fa fa-universal-access"></i>  Full lifetime access</p>
                    <!--<p class="fa fa-mobile-phone">  Access on mobile and TV</p>-->
                    <p><i class="fa fa-bolt"></i>  Assignments</p>
                    <p><i class="fa fa-certificate"></i>  Certificate of Completion</p>
                  </figcaption>
                </figure>
              </a>

              <div class="product-list__content">
                <a class="product-list__category" routerLink="/courses/single/{{data?.course?.id}}">{{ data?.course?.name.slice(0, 50) }}
                  <a *ngIf="data?.course?.name.length>60"> ... </a>
                  <div *ngIf="data?.course?.name.length<40"><br></div>
                </a>
                <div class="row">
                  <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                    <ul class="product-list__star-list">
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class=" col-md-3 col-sm-3 col-lg-3 col-xs-3 linethrough"> ${{ data?.course?.actual_price }}</div>
                </div>
                <div class="row">
                  <a routerLink="/user-profile/{{data?.user_id?.id}}"
                     *ngIf="data?.course?.user_id.first_name && data?.course?.user_id.last_name"
                     class="col-md-9 col-sm-9 col-lg-9 col-xs-9 product-list__category">{{ data?.course?.user_id.first_name }} {{
                    data?.course?.user_id.last_name }} </a>

                  <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 hoverfont ">${{ data?.course?.discounted_price }}
                  </div>
                </div>
              </div>
              <div class="product-list__item-info">

                <a class="material-icons wishlist" title="Add to wishlist"
                   (click)="onclick(i, data?.course?.id)">favorite_border</a>
                <a class="wishlist material-icons" title="Add to Cart" (click)="openDialog2(i, data?.course?.id)">add_shopping_cart</a>
                <a routerLink="/checkout" type="button" class="btn btn1 product-list__content">Buy Now</a>
              </div>
              <!--<div class="product-list__item-info">-->
              <!--<p class="item-info__text-01">14 Lessons</p>-->
              <!--<p class="item-info__text-02">25 Seats</p>-->
              <!--</div>-->
            </li>
          </ul>
          <!--<div class="row" *ngIf="!endofSubCatList">-->
            <!--<div class="col-lg-12 text-center">-->
              <!--<a (click)="loadMoreSubCatCourses()" class="btn-01">See more</a>-->
            <!--</div>-->
          <!--</div>-->
        </div>

        <!--End Sub Category Courses-->


        <div class="clearfix"></div>


        <div class="row grid" >


  <app-courses-on-bid> </app-courses-on-bid>
   <div class="clearfix"></div>
  <app-trending-now-courses></app-trending-now-courses>
   <div class="clearfix"></div>
  <app-top-rated-courses></app-top-rated-courses>
   <div class="clearfix"></div>

          <!--Start Visited Courses-->
          <!--<div *ngIf="loaded2" class="col-lg-12 text-center">-->
            <!--<h1 class="page-title-01 img-bg img-bg-2 color-white" >Recently Visited Courses</h1>-->
            <!--<p class="subtitle-01">CourseFrenzy has a variety of diverse courses from health and fitness to programming-->
              <!--and coding. However, our most popular courses are based on technology.</p>-->

          <!--</div>-->
          <!--<div *ngIf="loaded2">-->
            <!--<ul class="product-list">-->
              <!--<li class="product-list__item" *ngFor="let data of Courses?.courses; let i=index;">-->
                <!--<a routerLink="/courses/single/{{data?.course?.id}}">-->
                  <!--<figure class="imghvr-hinge-up product-list__img">-->
                    <!--<img *ngIf="data?.course?.course_image" src="{{StaticImageUrl}}{{data?.course?.course_image}}" alt=""-->
                         <!--class="img-responsive">-->
                    <!--<figcaption>-->
                      <!--<p>Includes:</p>-->
                      <!--<p><i class="fa fa-file-video-o"></i>  27.5 hours on-demand video</p>-->
                      <!--<p><i class="fa fa-book"></i>  7 Articles</p>-->
                      <!--<p><i class="fa fa-universal-access"></i>  Full lifetime access</p>-->
                      <!--&lt;!&ndash;<p class="fa fa-mobile-phone">  Access on mobile and TV</p>&ndash;&gt;-->
                      <!--<p><i class="fa fa-bolt"></i>  Assignments</p>-->
                      <!--<p><i class="fa fa-certificate"></i>  Certificate of Completion</p>-->
                    <!--</figcaption>-->
                  <!--</figure>-->
                <!--</a>-->

                <!--<div class="product-list__content">-->
                  <!--<a class="product-list__category" routerLink="/courses/single/{{data?.course?.id}}">{{ data?.course?.name.slice(0, 50)-->
                    <!--}} <a *ngIf="data?.course?.name.length>50"> ... </a>-->
                    <!--<div *ngIf="data?.course?.name.length<40"><br></div>-->
                  <!--</a>-->
                  <!--<div class="row">-->
                    <!--<div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">-->
                      <!--<ul class="product-list__star-list">-->

                        <!--<li *ngFor="let rate of [data?.course?.rating]">-->
                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</div>-->
                    <!--<div class=" col-md-3 col-sm-3 col-lg-3 col-xs-3 linethrough"> ${{ data?.course?.actual_price }}</div>-->
                  <!--</div>-->
                  <!--<div class="row">-->
                    <!--<a routerLink="/user-profile/{{data?.user_id?.id}}"-->
                       <!--*ngIf="data?.course?.user_id.first_name && data?.course?.user_id.last_name"-->
                       <!--class="col-md-9 col-sm-9 col-lg-9 col-xs-9 product-list__category">{{ data?.course?.user_id.first_name }}-->
                      <!--{{ data?.course?.user_id.last_name }} </a>-->

                    <!--<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 hoverfont ">${{ data?.course?.actual_price - -->
                      <!--data?.course?.discounted_price }}-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="product-list__item-info">-->

                  <!--<a class="material-icons wishlist" title="Add to wishlist" (click)="onclick(i, data?.course?.id)">favorite_border</a>-->
                  <!--<a class="wishlist material-icons" title="Add to Cart" (click)="openDialog2(i, data?.course?.id)">add_shopping_cart</a>-->
                  <!--<a routerLink="/checkout" type="button" class="btn btn1 product-list__content">Buy Now</a>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="product-list__item-info">&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="item-info__text-01">14 Lessons</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="item-info__text-02">25 Seats</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--</li>-->
            <!--</ul>-->

            <!--<div class="row" *ngIf="!endofList">-->
              <!--<div class="col-lg-12 text-center">-->
                <!--<a (click)="loadCourses()" class="btn-01">See more</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--End Visited Courses-->


          <!--Start My Watched Watched Courses-->
          <div class="row" *ngIf="Logedin === '1' && cat_Id<1 && subcat_Id<1">
          <app-watched-courses></app-watched-courses>
          </div>

          <div class="clearfix"></div>


          <!--End My Watched Courses-->

          <!--<pagination-controls (pageChange)="p = $event"> </pagination-controls>-->
        </div>
        <div class="clearfix"></div>
        <div class="row" *ngIf="Logedin === '1' && cat_Id<1 && subcat_Id<1">
          <app-recently-viewed-courses></app-recently-viewed-courses>
        </div>
        <app-recommended-courses></app-recommended-courses>

        <!--<h1 class="page-title-01 jumbotron gradient1 gradienttext" style="color: white;">gradient 1 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient2 gradienttext" style="color: white;">gradient 2 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient3 gradienttext" style="color: white;">gradient 3 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient4 gradienttext" style="color: white;">gradient 4 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient5 gradienttext" style="color: white;">gradient 5 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient6 gradienttext" style="color: white;">gradient 6 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient7 gradienttext" style="color: white;">gradient 7 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient8 gradienttext" style="color: white;">gradient 8 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient9 gradienttext" style="color: white;">gradient 9 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient10 gradienttext" style="color: white;">gradient 10 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient11 gradienttext" style="color: white;">gradient 11 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient12 gradienttext" style="color: white;">gradient 12 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient13 gradienttext" style="color: white;">gradient 13 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient14 gradienttext" style="color: white;">gradient 14 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient15 gradienttext" style="color: white;">gradient 15 </h1>-->
        <!--<h1 class="page-title-01 jumbotron gradient16 gradienttext" style="color: white;">gradient 16 </h1>-->

      </div>
    </div>
  </main>
</div>
