<app-loader></app-loader>
<div class="wrapp-content slider">
    <main class="">
        <div class="content-box padding-top-20 padding-bottom-10">
            <div class="container-fluid container-wide homeslider-hide">
                <div class="container-fluid container-wide homeslider-hide bidSlider" *ngIf="Categories">
                    <ngx-slick class="homeSlider" #slickModal="slick-modal" [config]="slideConfig">
                        <div class="item" ngxSlickItem *ngFor="let category of Categories">
                            <div class="image"> <a routerLink='/courses/{{category.id}}'> <img class="img" src="{{catImageUrl}}{{category?.icon_Web_Home}}"
                                        onError="this.src='../../assets/img/default_thumbnail.png'"> </a> </div>
                            <div class="slide-overlay">
                                <h4 class="card-title"> <a routerLink='/cat_courses/{{category.id}}' tabindex="0">{{category?.name}}</a>
                                </h4>
                            </div>
                        </div>
                    </ngx-slick>
                </div>
                <div class="filter-holder">
                    <header> <span class="pull-right btn-filter" data-toggle="collapse" data-target="#filters"> <i
                                class="fa fa-filter" aria-hidden="true"></i> <a routerLink="/FilterSearch"> <span>Filter
                                    Courses</span></a> </span> </header>
                </div>
               
                <div class="clearfix"></div>
                <div class="row grid">
                        <div class="container">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                               
                                                        <div class="panel-title">
                                                          <a>
                                                            <h5 class="color-red"> Level
                                                            </h5>
                                                          </a>
                                                        </div>
                                            
                                                        <div class="checkbox">
                                                          <label class="checkbox-font">
                                                            <input type="checkbox" name="ALL" [(ngModel)]=ALL value="ALL" (change)="checked1($event,i)">All Level
                                                          </label>
                                            
                                                        </div>
                                                        <!-- end ngRepeat: term in filters.terms -->
                                                        <div class="checkbox">
                                                          <label class="checkbox-font">
                                                            <input type="checkbox" name="B" [(ngModel)]=B value="B" (change)="checked2($event,i)">Biginners
                                                          </label>
                                            
                                                        </div>
                                                        <div class="checkbox">
                                                          <label class="checkbox-font">
                                                            <input type="checkbox" name="I" [(ngModel)]=I value="I" (change)="checked3($event,i)">Intermediate
                                                          </label>
                                            
                                                        </div>
                                                        <!-- end ngRepeat: term in filters.terms -->
                                                        <div class="checkbox">
                                                          <label class="checkbox-font">
                                                            <input type="checkbox" name="A" [(ngModel)]=A value="A" (change)="checked4($event,i)">Advance
                                                          </label>
                                            
                                                        </div>
                                                      
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="panel-title">
                                                        <a>
                                                          <h5 class="color-red"> Rating
                                                          </h5>
                                                        </a>
                                                      </div>
                                          
                                                      <div class="checkbox">
                                                        <label class="checkbox-font">
                                                          <input type="checkbox" name="rate1" [(ngModel)]=rate1 value="4.0 - 5.0" (change)="checked1($event,i)">4.0 - 5.0
                                                        </label>
                                          
                                                      </div>
                                                      <!-- end ngRepeat: term in filters.terms -->
                                                      <div class="checkbox">
                                                        <label class="checkbox-font">
                                                          <input type="checkbox" name="B" [(ngModel)]=B value="B" (change)="checked2($event,i)">3.0 - 4.0
                                                        </label>
                                          
                                                      </div>
                                                      <div class="checkbox">
                                                        <label class="checkbox-font">
                                                          <input type="checkbox" name="I" [(ngModel)]=I value="I" (change)="checked3($event,i)">Intermediate
                                                        </label>
                                          
                                                      </div>
                                                      <!-- end ngRepeat: term in filters.terms -->
                                                      <div class="checkbox">
                                                        <label class="checkbox-font">
                                                          <input type="checkbox" name="A" [(ngModel)]=A value="A" (change)="checked4($event,i)">Advance
                                                        </label>
                                          
                                                      </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <mat-form-field class="example-full-width mat-size"> <input matInput placeholder="$ Ending Price"
                                                    [(ngModel)]="model.endprice" (focusout)="selectrange2(model.endprice)">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <mat-form-field class="example-full-width mat-size">
                                                <mat-select placeholder="Select Category" [(ngModel)]="model.category" name="category"
                                                    #category="ngModel">
                                                    <mat-option *ngFor="let cat of Categories" [value]="cat.id" (click)="selected(cat.id)">{{cat.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <mat-form-field class="example-full-width mat-size">
                                                <mat-select placeholder="Sub Category" [(ngModel)]="model.sub_category" name="sub_category"
                                                    #sub_category="ngModel">
                                                    <mat-option *ngFor=" let caty of SubCategories" value="{{caty.id}}" (click)="selectedSub(caty.id)">{{caty.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-box-01 padding-top-10">
                                    <div class="container-fluid1">
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <h3 class="page-title-01 img-bg img-bg-5 color-white">Filter Courses</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-box-01 padding-bottom-10">
                                    <div class="container-fluid1">
                                        <div class="row">
                                            <div class="col-lg-12 bidSlider">
                                                <ul class="product-list slick-bids ">
                                                    <li class="product-list__item" *ngFor="let bid_data of result; let i=index">
                                                        <a routerLink="/courses/single/{{bid_data?.id}}">
                                                            <figure class="imghvr-zoom-out-down product-list__img"> <img *ngIf="bid_data?.course_image"
                                                                    src="{{ImageUrl}}{{bid_data?.course_image}}" alt="" class="img-responsive"
                                                                    onError="this.src='../../assets/img/default_thumbnail.png'">
                                                                <figcaption>
                                                                    <p>Includes:</p>
                                                                    <p><i class="fa fa-file-video-o"></i> &nbsp; 27.5 hours on-demand
                                                                        video</p>
                                                                    <p><i class="fa fa-book"></i> &nbsp; 7 Articles</p>
                                                                    <p><i class="fa fa-universal-access"></i> &nbsp; Full lifetime
                                                                        access</p>
                                                                    <p><i class="fa fa-bolt"></i> &nbsp;&nbsp; Assignments</p>
                                                                    <p><i class="fa fa-certificate"></i> &nbsp; Certificate of
                                                                        Completion</p>
                                                                </figcaption>
                                                            </figure>
                                                        </a>
                                                        <div class="product-list__content"> <a class="product-list__category"
                                                                routerLink="/courses/single/{{bid_data?.id}}">{{bid_data?.name.slice(0,
                                                                50)}}<a *ngIf="bid_data?.name.length>60"> ... </a>
                                                                <div *ngIf="bid_data?.name.length<40"> <br></div>
                                                            </a>
                                                            <div class="row">
                                                                <div class="col-md-9 col-sm-7 col-lg-9 col-xs-7">
                                                                    <ul class="product-list__star-list">
                                                                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a> </li>
                                                                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a> </li>
                                                                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a> </li>
                                                                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a> </li>
                                                                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a> </li>
                                                                    </ul>
                                                                </div>
                                                                <div class=" col-md-3 col-sm-5 col-lg-3 col-xs-5 linethrough" *ngIf="bid_data?.discounted_price>0">
                                                                    ${{bid_data?.actual_price}}</div>
                                                                <div class=" col-md-3 col-sm-5 col-lg-3 col-xs-5 linethrough" *ngIf="bid_data?.discounted_price<=0">
                                                                    Free </div>
                                                            </div>
                                                            <div class="row"> <a routerLink="/user-profile/{{bid_data?.user_id?.id}}"
                                                                    *ngIf="bid_data?.user_id.first_name && bid_data?.user_id.last_name"
                                                                    class="col-md-9 col-sm-7 col-lg-9 col-xs-7 product-list__category">{{bid_data?.user_id.first_name}}{{bid_data?.user_id.last_name}}</a>
                                                                <div *ngIf="bid_data?.discounted_price>0" class="col-md-3 col-sm-5 col-lg-3 col-xs-5 ">${{bid_data?.discounted_price}}</div>
                                                                <div *ngIf="bid_data?.discounted_price<=0" class="col-md-3 col-sm-5 col-lg-3 col-xs-5 ">Free</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 text-center"> <a [routerLink]="['/courses']" class="btn-01">See more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    <!-- <app-courses-on-bid> </app-courses-on-bid>
                    <div class="clearfix"></div>
                    <app-trending-now-courses></app-trending-now-courses>
                    <div class="clearfix"></div>
                    <app-top-rated-courses></app-top-rated-courses>
                    <div class="clearfix"></div> -->
                </div>
                <!-- <div class="clearfix"></div>
                <div class="row" *ngIf="Logedin==='1' && cat_Id<1 && subcat_Id<1">
                    <app-recently-viewed-courses></app-recently-viewed-courses>
                </div>
                <div class="row" *ngIf="Logedin==='1' && cat_Id<1 && subcat_Id<1">
                        <app-recommended-courses></app-recommended-courses>
                </div> -->
                
            </div>
        </div>
    </main>
</div>