<script src="../course/courses.service.ts"></script>
<!--<div class="container">-->
  <!--&lt;!&ndash;<hr class="invis">&ndash;&gt;-->

  <!--&lt;!&ndash;<div class=" row">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="text-center">&ndash;&gt;-->
        <!--&lt;!&ndash;<input class="search-bg__text form-control input-lg " type="search" name=querysearch [(ngModel)]="query" #querysearch="ngModel" (keyup)="filter(query)" placeholder="Search for Pending courses" id="textsearch">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="search-bg__btn" type="button" (click)="filter(query)">Search</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="row" *ngIf="NoSearchResult"><h2>No Result Found! Please Try Again!</h2></div>&ndash;&gt;-->

  <!--<div class="courseSpace" *ngFor="let list of instructorlist?.Instructors ; let i=index">-->
    <!--<div class="row wow fadeIn">-->
      <!--<div class="col-md-4 col-sm-12">-->
        <!--&lt;!&ndash;<h3>{{ list.user.first_name }} {{ list.user.last_name }}</h3>&ndash;&gt;-->
        <!--<a routerLink="/user-profile/{{list.user?.id}}" *ngIf="list.user.first_name && list.user.last_name">{{ list.user.first_name }} {{ list.user.last_name }} </a>-->
        <!--<div class="popular-courses">-->
          <!--<div class="post-media entry">-->
            <!--<div class="img-holder">-->

              <!--<img *ngIf="list.profilePhoto" src= "{{ staticStorageImages }}{{list.profilePhoto}}" alt="" class="img-responsive imgheight">-->
              <!--<img *ngIf="list.profilePhoto" src= "{{ staticStorageImages }}{{list.profilePhoto}}" alt="" class="img-responsive imgheight">-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="magnifier">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="shop-bottom clearfix">&ndash;&gt;-->
                <!--&lt;!&ndash;<a (click)="reject_course_confirmation(list.id, i)"  title="Reject Course"><i class="fa fa-times" aria-hidden="true"></i></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a (click)="add_course_confirmation(list.id, i)" title="Approve Course"><i class="fa fa-check label-success" aria-hidden="true"></i></a>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-md-8 col-sm-12">-->
        <!--<div class="about-module">-->
          <!--&lt;!&ndash;<span *ngIf="list.skill === 'B'" class="label label-success">IDEAL FOR BEGINNERS</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span *ngIf="list.skill === 'I'" class="label label-success">IDEAL FOR MEDIOCRES</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span *ngIf="list.skill === 'A'" class="label label-success">IDEAL FOR EXPERTS</span>&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" title="Reject Course" (click)="reject_course_confirmation(list.id, i)" class="btn btn-primary">Reject<i class="fa fa-times" aria-hidden="true"></i></button>&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" title="Approve Course" (click)="add_course_confirmation(list.id, i)" class="btn label-success">Approve<i class="fa fa-check label-success" aria-hidden="true"></i></button>&ndash;&gt;-->

          <!--&lt;!&ndash;<a routerLink="/user-profile/{{list?.Instructors?.user?.id}}" *ngIf="list?.Instructors.user.first_name && list?.Instructors.user.last_name" class="col-md-9 col-sm-7 col-lg-9 col-xs-7 product-list__category">{{ list?.Instructors.user.first_name }} {{ list?.Instructors.user.last_name }} </a>&ndash;&gt;-->
          <!--&lt;!&ndash;<p> {{ list.overview }} </p>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="large-post-meta">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="avatar"><a [routerLink]="['/profile']"><img src="../../assets/upload/avatar_01.png"class="img-circle"> {{list?.user_id?.username}}</a></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<small>&#124;</small>&ndash;&gt;-->
            <!--&lt;!&ndash;<span><a><i class="fa fa-clock-o"></i> {{ list.postDate | date }}</a></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<small class="hidden-xs">&#124;</small>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="hidden-xs"><a ><i class="fa fa-dollar"></i> {{ list.actual_price }}</a></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<small class="hidden-xs">&#124;</small>&ndash;&gt;-->
            <!--&lt;!&ndash;<span *ngIf="list.skill === 'A'" class="hidden-xs"><a><i class="fa fa-users"></i> Advanced Level</a></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span *ngIf="list.skill === 'B'"  class="hidden-xs"><a><i class="fa fa-users"></i> Begineer Level</a></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span *ngIf="list.skill === 'I'" class="hidden-xs"><a><i class="fa fa-users"></i> Intermediate Level</a></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="hidden-xs"><a><i class="fa fa-users"></i> English</a></span>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<hr class="invis1">-->

  <!--<nav class="text-center">-->
    <!--<ul class=" pagination pagination-lg">-->
      <!--&lt;!&ndash;<ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">&ndash;&gt;-->
      <!--&lt;!&ndash;<li [ngClass]="{disabled:pager.currentPage === 1}">&ndash;&gt;-->
      <!--&lt;!&ndash;<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">-->
        <!--<a class="page-link" onclick="topFunction()"  (click)="setPage3(1)" aria-label="Previous">-->
          <!--First-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">-->
        <!--<a class="page-link" onclick="topFunction()" (click)="setPage3(pager.currentPage - 1)" aria-label="Previous">-->
          <!--<span aria-hidden="true">&laquo;</span>-->
          <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
      <!--</li>-->

      <!--<li class="page-item" *ngFor="let page of pager.pages"-->
          <!--[ngClass]="{active:pager.currentPage === page}"-->
          <!--onclick="topFunction()" (click)="setPage3(page)"><a class="page-link">{{page}}</a></li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
        <!--<a class="page-link" onclick="topFunction()" (click)="setPage3(pager.currentPage + 1)" aria-label="Next">-->
          <!--<span aria-hidden="true">&raquo;</span>-->
          <!--<span class="sr-only">Next</span>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
        <!--<a class="page-link" onclick="topFunction()" (click)="setPage3(pager.totalPages)" aria-label="Next">-->
          <!--Last-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->
<!--</div>-->
<div class="admin-cont">
  <!--<div class="col-md-12 col-sm-12 ">-->
    <!--<input class="search-bg__text form-control input-lg" name="search-bg-name" type="text" placeholder="Which course would you like to search?">-->
    <!--<button class="search-bg__btn" type="button">Search</button>-->
  <!--</div>-->
  <div class="col-md-12 col-sm-12" >

    <h2 class="inst-heading">All Instructor</h2>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12  inst-mrg" *ngFor="let list of instructorlist?.Instructors ; let i=index" >
        <div class="inst-wrap">
          <div class="inst-img">
            <img *ngIf="list.profilePhoto" src= "{{ staticStorageImages }}{{list.profilePhoto}}" alt="" class="img-responsive imgheight">
            <!--<img *ngIf="list.profilePhoto" src= "{{ staticStorageImages }}{{list.profilePhoto}}" alt="" class="img-responsive imgheight">-->
          </div>
          <h3> <a routerLink="/user-profile/{{list.user?.id}}" *ngIf="list.user.first_name && list.user.last_name">{{ list.user.first_name }} {{ list.user.last_name }} </a></h3>
        </div>
      </div>
        <nav class="text-center">
          <ul class=" pagination pagination-lg">
            <!--<ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">-->
            <!--<li [ngClass]="{disabled:pager.currentPage === 1}">-->
            <!--<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>-->
            <!--</li>-->
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" onclick="topFunction()"  (click)="setPage3(1)" aria-label="Previous">
                First
              </a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" onclick="topFunction()" (click)="setPage3(pager.currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let page of pager.pages"
                [ngClass]="{active:pager.currentPage === page}"
                onclick="topFunction()" (click)="setPage3(page)"><a class="page-link">{{page}}</a></li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" onclick="topFunction()" (click)="setPage3(pager.currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" onclick="topFunction()" (click)="setPage3(pager.totalPages)" aria-label="Next">
                Last
              </a>
            </li>
          </ul>
        </nav>



    </div>

  </div>
</div>
