<!--<app-loader></app-loader>-->
<section class="section paralbackground banner" style="background-image:url('../../assets/upload/pagebanner_03.jpg');" data-img-width="2400" data-img-height="907" data-diff="100">
  <div class="overlay"></div>
</section><!-- end section -->

<div class="page-title bgg">
  <div class="container clearfix">
    <div class="title-area pull-left">
      <h2>List of Courses <small>View details of all courses here</small></h2>

    </div><!-- /.pull-right -->
    <div class="pull-right hidden-xs">
      <div class="bread">
        <ol class="breadcrumb">
          <button *ngIf="userRole === 'Teacher' || userRole === 'Admin'" class="btn btn-primary btn-black add-course-button" (click)="openDialog()">Add New Course</button>
        </ol>
      </div><!-- end bread -->
    </div><!-- /.pull-right -->
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <input class="search-bg__text form-control input-lg " type="search" name=querysearch [(ngModel)]="query" #querysearch="ngModel" (keyup)="filter(query)" placeholder="Search your posted courses" id="textsearch">
        <button class="search-bg__btn" type="button" (click)="filter(query)">Search</button>
      </div>
    </div>
  </div>
</div><!-- end page-title -->




<div class="container pad">
<mat-tab-group>
  <mat-tab *ngIf="userRole === 'Teacher' || userRole === 'Admin'" class="" label="Courses Posted by You for Sale">
    <div >
      <section class="section bgw single-course">
        <div class="container">
          <div class="padding-top-10 padding-bottom-10" *ngIf="postedCoursesList?.courses ==''">
          You did not post any course
          </div>

          <div class="padding-top-10 padding-bottom-10" *ngFor="let list of postedCoursesList?.courses; let i=index;">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="popular-courses">
                  <div class="post-media entry">
                    <div class="ribbon-wrapper-green"><div class="ribbon-green">Featured</div></div>
                    <!--<img src= "{{ ImageUrl }}{{list?.course_thumbnail}}" alt="" class="img-responsive">-->
                    <div class="img-holder">
                      <a routerLink="/courses/single/{{list?.course.id}}/{{list?.course.user_id.id}}">
                        <img *ngIf="list?.course.course_image" src= "{{ ImageUrl}}{{list?.course.course_image}}" alt="" class="img-responsive imgheight">
                      </a>

                    </div>
                    <!--<div class="magnifier">-->
                      <!--<div class="shop-bottom clearfix">-->
                        <!--<a [routerLink]="['/checkout']" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>-->
                        <!--<a [routerLink]="['/courses/single']" title="Full Preview"><i class="fa fa-search"></i></a>-->
                      <!--</div>&lt;!&ndash; end shop-bottom &ndash;&gt;-->
                    <!--</div>&lt;!&ndash; end magnifier &ndash;&gt;-->
                  </div><!-- end post-media -->
                </div><!-- end courses -->
              </div><!-- end col -->

              <div class="col-md-8 col-sm-12">
                <div class="about-module">
                  <div class="width-full float-left">
                    <div class="float-left">
                      <span *ngIf="list?.course.skill === 'B'" class="label label-success">IDEAL FOR BEGINNERS</span>
                      <span *ngIf="list?.course.skill === 'I'" class="label label-success">IDEAL FOR MEDIOCRES</span>
                      <span *ngIf="list?.course.skill === 'A'" class="label label-success">IDEAL FOR EXPERTS</span>
                      <span *ngIf="list?.course.status === true" class="label label-success">Approved </span>
                      <span *ngIf="list?.course.status === false" class="label label-danger">Rejected </span>
                      <span *ngIf="list?.course.status === null" class="label label-warning">Pending</span>
                    </div>
                    <div class="float-right text-right">
                      <a class="icon-hover"><i *ngIf="userRole === 'Teacher' || userRole === 'Admin'" class="fa fa-edit fa-2x" (click)="EditCourseDialog(i, list?.course.id)" title="Edit Course" ></i></a>
                      <a class="icon-hover"><i class="fa fa-trash-o fa-2x" (click)="deletdeCourse(i, list?.course.id)" data-toggle="tooltip" title="Delete Course" ></i></a>

                      <!--<button class="btn btn-primary background-black" (click)="openDialog2(list?.id)">Allow Bidding on Course</button>-->
                    </div>
                  </div>
                  <!--<a routerLink="/courses/single/{{list?.id}}" class="btn btn-primary btn-square"><h3>{{ list?.name  }}</h3></a>-->
                  <div class="width-full float-left">
                    <a routerLink="/courses/single/{{list?.course.id}}/{{list?.course.user_id.id}}"> <h3>{{ list?.course.name }}</h3></a>
                  </div>
                  <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised believable. Suffered alteration in some form, by injected humour, or randomised..</p>-->
                  <p class="width-full float-left"> {{ list?.overview }} </p>
                  <!--<p> {{list?.language}} </p>-->
                  <div class="large-post-meta float-left width-full">
                    <span class="avatar"><a routerLink="/user-profile/{{list?.course.user_id?.id}}"><img src="../../assets/upload/avatar_01.png" class="img-circle"> {{ list?.course.user_id?.username }}</a></span>
                    <small>&#124;</small>
                    <span><a><i class="fa fa-clock-o"></i> 5 hours</a></span>
                    <span><a><i class="fa fa-clock-o"></i> {{ list?.course.postDate | date }}</a></span>
                    <small class="hidden-xs">&#124;</small>
                    <span class="hidden-xs"><a ><i class="fa fa-dollar"></i> {{ list?.course.actual_price }}</a></span>
                    <small class="hidden-xs">&#124;</small>
                    <span class="hidden-xs"><a [routerLink]="['/courses/single']"><i class="fa fa-users"></i> 75 Lectures</a></span>
                    <span *ngIf="list?.course.skill === 'A'" class="hidden-xs"><a><i class="fa fa-users"></i> Advanced Level</a></span>
                    <span *ngIf="list?.course.skill === 'B'"  class="hidden-xs"><a><i class="fa fa-users"></i> Begineer Level</a></span>
                    <span *ngIf="list?.course.skill === 'I'" class="hidden-xs"><a><i class="fa fa-users"></i> Intermediate Level</a></span>
                    <span class="hidden-xs"><a><i class="fa fa-users"></i> English</a></span>
                  </div><!-- end meta -->
                  <!--<a routerLink="/courses/single/{{list?.id}}" class="btn btn-primary btn-square">START HERE</a>-->
                </div><!-- end about-module -->
              </div><!-- end col -->
            </div><!-- end row -->

            <hr class="invis1">

          </div>
          <nav class="text-center">
            <ul class=" pagination pagination-lg">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" onclick="topFunction()" (click)="setPage(1)" aria-label="Previous">
                  First
                </a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" onclick="topFunction()" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <li class="page-item" *ngFor="let page of pager.pages"
                  [ngClass]="{active:pager.currentPage === page}"
                  onclick="topFunction()" (click)="setPage(page)"><a class="page-link">{{ page }}</a></li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" onclick="topFunction()" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" onclick="topFunction()" (click)="setPage(pager.totalPages)" aria-label="Next">
                  Last
                </a>
              </li>
              <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
              <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
              <!--</li>-->
            </ul>
          </nav>

        </div><!-- end container -->
      </section>
    </div>
    <!--<div *ngIf="NoPostedCourseErrorMessage.length>0">-->
      <!--<p> {{NoPostedCourseErrorMessage}}</p>-->
    <!--</div>-->
  </mat-tab>

  <mat-tab class="" label="Courses You Bought">
    <div>
      <section class="section bgw" class="single-course">
        <div class="container">
          <div *ngIf="!NoMyCoursesErrorFalse">
            {{NoMyCoursesErrorMessage}}
          </div>
          <div *ngIf="NoMyCoursesErrorFalse">
            <div *ngFor="let list of coursesList">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <div class="popular-courses">
                    <div class="post-media entry">
                      <div class="ribbon-wrapper-green"><div class="ribbon-green">Featured</div></div>
                      <!--<img src= "{{ ImageUrl }}{{list?.course?.course_thumbnail}}" alt="" class="img-responsive">-->
                      <div class="img-holder">
                        <img *ngIf="list?.course?.course_image" src= "{{ImageUrl}}{{list?.course?.course_image}}" alt="" class="img-responsive imgheight">
                      </div>
                    </div><!-- end post-media -->
                  </div><!-- end courses -->
                </div><!-- end col -->

                <div class="col-md-8 col-sm-12">
                  <div class="about-module">
                    <span *ngIf="list?.course?.skill === 'B'" class="label label-success">IDEAL FOR BEGINNERS</span>
                    <span *ngIf="list?.course?.skill === 'I'" class="label label-success">IDEAL FOR MEDIOCRES</span>
                    <span *ngIf="list?.course?.skill === 'A'" class="label label-success">IDEAL FOR EXPERTS</span>

                    <a routerLink="/courses/single/{{list?.course?.id}}"> <h3>{{ list?.course?.name }}</h3></a>

                    <p> {{ list?.course?.overview }} </p>
                    <!--<p> {{list?.course?.language}} </p>-->
                    <div class="large-post-meta">
                      <span class="avatar"><a routerLink="/user-profile/{{list?.course?.user_id?.id}}"><img src="../../assets/upload/avatar_01.png" class="img-circle"> {{ list?.course?.user_id?.username }}</a></span>
                      <small>&#124;</small>
                      <span><a [routerLink]="['/courses/single']"><i class="fa fa-clock-o"></i> 5 hours</a></span>
                      <span><a><i class="fa fa-clock-o"></i> {{ list?.course?.postDate | date }}</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a ><i class="fa fa-dollar"></i> {{ list?.course?.actual_price | currency:'USD'}}</a></span>
                      <small class="hidden-xs">&#124;</small>
                      <span class="hidden-xs"><a [routerLink]="['/courses/single']"><i class="fa fa-users"></i> 75 Lectures</a></span>
                      <span *ngIf="list?.course?.skill === 'A'" class="hidden-xs"><a><i class="fa fa-users"></i> Advanced Level</a></span>
                      <span *ngIf="list?.course?.skill === 'B'"  class="hidden-xs"><a><i class="fa fa-users"></i> Begineer Level</a></span>
                      <span *ngIf="list?.course?.skill === 'I'" class="hidden-xs"><a><i class="fa fa-users"></i> Intermediate Level</a></span>
                      <span class="hidden-xs"><a><i class="fa fa-users"></i> English </a></span>
                    </div><!-- end meta -->
                    <!--<a routerLink="/courses/single/{{list?.course?.id}}" class="btn btn-primary btn-square">START HERE</a>-->
                  </div><!-- end about-module -->
                </div><!-- end col -->
              </div><!-- end row -->

              <hr class="invis1">

            </div>
            <nav class="text-center">
              <ul class=" pagination pagination-lg">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                  <a class="page-link" onclick="topFunction()" (click)="setPage2(1)" aria-label="Previous">
                    First
                  </a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                  <a class="page-link" onclick="topFunction()" (click)="setPage2(pager.currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>

                <li class="page-item" *ngFor="let page of pager.pages"
                    [ngClass]="{active:pager.currentPage === page}"
                    onclick="topFunction()" (click)="setPage2(page)"><a class="page-link">{{ page }}</a></li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a class="page-link" onclick="topFunction()" (click)="setPage2(pager.currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a class="page-link" onclick="topFunction()" (click)="setPage2(pager.totalPages)" aria-label="Next">
                    Last
                  </a>
                </li>
                <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
                <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
                <!--</li>-->
              </ul>
            </nav>
          </div>

        </div><!-- end container -->
      </section>
    </div>
    <!--<div *ngIf="NoPostedCourseErrorMessage.length>0">-->
    <!--<p> {{NoPostedCourseErrorMessage}}</p>-->
    <!--</div>-->
  </mat-tab>
  <mat-tab class="" label="WIN BIDS">
    <section class="section bgw single-course">
      <div class="container">
        <div class="padding-top-10 padding-bottom-10" *ngIf="response ==''">
          You did not post any course
        </div>

        <div class="padding-top-10 padding-bottom-10" *ngFor="let list of response; let i=index;">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="popular-courses">
                <div class="post-media entry">
                  <div class="ribbon-wrapper-green"><div class="ribbon-green">Featured</div></div>
                  <!--<img src= "{{ ImageUrl }}{{list?.course_thumbnail}}" alt="" class="img-responsive">-->
                  <div class="img-holder">
                    <img *ngIf="list?.bid.course.course_image" src= "{{ ImageUrl }}{{list?.bid.course.course_image}}" alt="" class="img-responsive imgheight">
                  </div>

                </div>
                <!--<div class="magnifier">-->
                <!--<div class="shop-bottom clearfix">-->
                <!--<a [routerLink]="['/checkout']" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>-->
                <!--<a [routerLink]="['/courses/single']" title="Full Preview"><i class="fa fa-search"></i></a>-->
                <!--</div>&lt;!&ndash; end shop-bottom &ndash;&gt;-->
                <!--</div>&lt;!&ndash; end magnifier &ndash;&gt;-->
              </div><!-- end post-media -->
            </div><!-- end courses -->
            <div class="col-md-8 col-sm-12">
              <div class="about-module">
                <span *ngIf="list?.bid.course.skill === 'B'" class="label label-success">IDEAL FOR BEGINNERS</span>
                <span *ngIf="list?.bid.course.skill === 'I'" class="label label-success">IDEAL FOR MEDIOCRES</span>
                <span *ngIf="list?.bid.course.skill === 'A'" class="label label-success">IDEAL FOR EXPERTS</span>
                <div class="clearfix"></div>
                <div class="text-right float-right">
                  <a class="icon-hover"><i class="fa fa-shopping-cart fa-2x" data-toggle="tooltip" title="Add to Cart" (click)="openDialog2(i, list?.bid.course?.id)"></i></a>
                </div>
                <h3>{{ list?.bid.course.name }}</h3>
                <h4>Bid Amount:{{list?.BidAmount| currency:'USD'}}</h4>
                <p> {{ list?.bid.course.overview }} </p>
                <div class="large-post-meta">
                  <span class="avatar"><a [routerLink]="['/profile']"><img src="../../assets/upload/avatar_01.png"class="img-circle"> {{list?.user.username}}</a></span>
                  <small>&#124;</small>
                  <span><a><i class="fa fa-clock-o"></i> {{ list?.bid.course.postDate | date }}</a></span>
                  <small class="hidden-xs">&#124;</small>
                  <span class="hidden-xs"><a ><i class="fa fa-dollar"></i> {{ list.bid.course.actual_price }}</a></span>
                  <small class="hidden-xs">&#124;</small>
                  <span *ngIf="list?.bid.course.skill === 'A'" class="hidden-xs"><a><i class="fa fa-users"></i> Advanced Level</a></span>
                  <span *ngIf="list?.bid.course.skill === 'B'"  class="hidden-xs"><a><i class="fa fa-users"></i> Begineer Level</a></span>
                  <span *ngIf="list?.bid.course.skill === 'I'" class="hidden-xs"><a><i class="fa fa-users"></i> Intermediate Level</a></span>
                  <span class="hidden-xs"><a><i class="fa fa-users"></i> English</a></span>
                </div>
              </div>
            </div>
          </div><!-- end col -->

        </div><!-- end row -->

        <hr class="invis1">

      </div>
      <!--<nav class="text-center">-->
      <!--<ul class=" pagination pagination-lg">-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">-->
      <!--<a class="page-link" onclick="topFunction()" (click)="setPage(1)" aria-label="Previous">-->
      <!--First-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">-->
      <!--<a class="page-link" onclick="topFunction()" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">-->
      <!--<span aria-hidden="true">&laquo;</span>-->
      <!--<span class="sr-only">Previous</span>-->
      <!--</a>-->
      <!--</li>-->

      <!--<li class="page-item" *ngFor="let page of pager.pages"-->
      <!--[ngClass]="{active:pager.currentPage === page}"-->
      <!--onclick="topFunction()" (click)="setPage(page)"><a class="page-link">{{ page }}</a></li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
      <!--<a class="page-link" onclick="topFunction()" (click)="setPage(pager.currentPage + 1)" aria-label="Next">-->
      <!--<span aria-hidden="true">&raquo;</span>-->
      <!--<span class="sr-only">Next</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
      <!--<a class="page-link" onclick="topFunction()" (click)="setPage(pager.totalPages)" aria-label="Next">-->
      <!--Last-->
      <!--</a>-->
      <!--</li>-->
      <!--&lt;!&ndash;<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">&ndash;&gt;-->
      <!--&lt;!&ndash;<a (click)="setPage(pager.totalPages)">Last</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--</ul>-->
      <!--</nav>-->

    </section>
    <!--<div *ngIf="NoPostedCourseErrorMessage.length>0">-->
    <!--<p> {{NoPostedCourseErrorMessage}}</p>-->
    <!--</div>-->
  </mat-tab>

  <mat-tab class="" label="LOSE BIDS">
    <section class="section bgw single-course">
      <div class="container">
        <div class="padding-top-10 padding-bottom-10" *ngIf="res ==''">
          You did not post any course
        </div>

        <div class="padding-top-10 padding-bottom-10" *ngFor="let list of res; let i=index;">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="popular-courses">
                <div class="post-media entry">
                  <div class="ribbon-wrapper-green"><div class="ribbon-green">Featured</div></div>
                  <!--<img src= "{{ ImageUrl }}{{list?.course_thumbnail}}" alt="" class="img-responsive">-->
                  <div class="img-holder">
                    <img *ngIf="list?.bid.course.course_image" src= "{{ ImageUrl }}{{list?.bid.course.course_image}}" alt="" class="img-responsive imgheight">
                  </div>

                </div>
                <!--<div class="magnifier">-->
                <!--<div class="shop-bottom clearfix">-->
                <!--<a [routerLink]="['/checkout']" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>-->
                <!--<a [routerLink]="['/courses/single']" title="Full Preview"><i class="fa fa-search"></i></a>-->
                <!--</div>&lt;!&ndash; end shop-bottom &ndash;&gt;-->
                <!--</div>&lt;!&ndash; end magnifier &ndash;&gt;-->
              </div><!-- end post-media -->
            </div><!-- end courses -->
            <div class="col-md-8 col-sm-12">
              <div class="about-module">
                <span *ngIf="list?.bid.course.skill === 'B'" class="label label-success">IDEAL FOR BEGINNERS</span>
                <span *ngIf="list?.bid.course.skill === 'I'" class="label label-success">IDEAL FOR MEDIOCRES</span>
                <span *ngIf="list?.bid.course.skill === 'A'" class="label label-success">IDEAL FOR EXPERTS</span>
                <div class="clearfix"></div>
                <div class="text-right float-right">
                  <a class="icon-hover"><i class="fa fa-shopping-cart fa-2x" data-toggle="tooltip" title="Add to Cart" (click)="openDialog2(i, list?.bid.course?.id)"></i></a>
                </div>
                <h3>{{ list?.bid.course.name }}</h3>
                <h4>Bid Amount:{{list?.BidAmount| currency:'USD'}}</h4>
                <p> {{ list?.bid.course.overview }} </p>
                <div class="large-post-meta">
                  <span class="avatar"><a [routerLink]="['/profile']"><img src="../../assets/upload/avatar_01.png"class="img-circle"> {{list?.user.username}}</a></span>
                  <small>&#124;</small>
                  <span><a><i class="fa fa-clock-o"></i> {{ list?.bid.course.postDate | date }}</a></span>
                  <small class="hidden-xs">&#124;</small>
                  <span class="hidden-xs"><a ><i class="fa fa-dollar"></i> {{ list.bid.course.actual_price }}</a></span>
                  <small class="hidden-xs">&#124;</small>
                  <span *ngIf="list?.bid.course.skill === 'A'" class="hidden-xs"><a><i class="fa fa-users"></i> Advanced Level</a></span>
                  <span *ngIf="list?.bid.course.skill === 'B'"  class="hidden-xs"><a><i class="fa fa-users"></i> Begineer Level</a></span>
                  <span *ngIf="list?.bid.course.skill === 'I'" class="hidden-xs"><a><i class="fa fa-users"></i> Intermediate Level</a></span>
                  <span class="hidden-xs"><a><i class="fa fa-users"></i> English</a></span>
                </div>
              </div>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis1">

      </div>
      <!--<nav class="text-center">-->
      <!--<ul class=" pagination pagination-lg">-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">-->
      <!--<a class="page-link" onclick="topFunction()" (click)="setPage(1)" aria-label="Previous">-->
      <!--First-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">-->
      <!--<a class="page-link" onclick="topFunction()" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">-->
      <!--<span aria-hidden="true">&laquo;</span>-->
      <!--<span class="sr-only">Previous</span>-->
      <!--</a>-->
      <!--</li>-->

      <!--<li class="page-item" *ngFor="let page of pager.pages"-->
      <!--[ngClass]="{active:pager.currentPage === page}"-->
      <!--onclick="topFunction()" (click)="setPage(page)"><a class="page-link">{{ page }}</a></li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
      <!--<a class="page-link" onclick="topFunction()" (click)="setPage(pager.currentPage + 1)" aria-label="Next">-->
      <!--<span aria-hidden="true">&raquo;</span>-->
      <!--<span class="sr-only">Next</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
      <!--<a class="page-link" onclick="topFunction()" (click)="setPage(pager.totalPages)" aria-label="Next">-->
      <!--Last-->
      <!--</a>-->
      <!--</li>-->
      <!--&lt;!&ndash;<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">&ndash;&gt;-->
      <!--&lt;!&ndash;<a (click)="setPage(pager.totalPages)">Last</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--</ul>-->
      <!--</nav>-->

    </section>
    <!--<div *ngIf="NoPostedCourseErrorMessage.length>0">-->
    <!--<p> {{NoPostedCourseErrorMessage}}</p>-->
    <!--</div>-->
  </mat-tab>
</mat-tab-group>
</div>



